# ACRO Tests

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
sys.path.insert(0, os.path.abspath(".."))

In [3]:
from acro import ACRO

### Instantiate ACRO

In [4]:
acro = ACRO()

DEBUG:acro:path: /home/unknown/work/current/ACRO/ACRO/acro/default.yaml
DEBUG:acro:config: {'output_template_file': 'ACRO output template v01b.xlsm', 'safe_SDC_set': 'Default', 'safe_tests': 'threshold nk pratio maxmin', 'safe_threshold': 10, 'safe_dof_threshold': 10, 'safe_nk_n': 2, 'safe_nk_k': 0.9, 'safe_pratio_p': 0.1, 'safe_SDC_variations': 'CIS ESS', 'safe_thresholdCIS': 60, 'safe_nk_nCIS': 5, 'safe_nk_kCIS': 0.5, 'safe_testsCIS': 'threshold nk pratio', 'safe_thresholdESS': 15, 'safe_dof_thresholdESS': 10, 'safe_nk_nESS': 2, 'safe_nk_kESS': 0.9, 'safe_pratio_pESS': 0.15, 'safe_testsESS': 'nk pratio'}

### Load test data

In [5]:
path = os.path.join("../data", "test_data.dta")
df = pd.read_stata(path)
df.head()

,charity,grant_type,index,year,inc_activity,inc_grants,inc_donations,inc_other,inc_total,total_costs,...,sh_staff_grants_given,sh_assets_grants_given,sh_income_balance,sh_staff_balance,sh_assets_balance,sh_income_assets,sh_staff_assets,sh_income_staff_costs,sh_assets_staff_costs,wgt
0,4Children,R,1.0,2011,2880902.0,9603182.0,91404.0,310947.0,12886435.0,12127472.0,...,NaN,NaN,0.072636,0.135971,0.767809,0.094602,0.177090,0.534203,5.646843,1.0
1,4Children,R,1.0,2014,6810520.0,18768904.0,58002.0,401879.0,26039304.0,25493796.0,...,NaN,NaN,0.057641,0.089150,1.001396,0.057560,0.089026,0.646561,11.232729,1.0
2,4Children,R,1.0,2015,7199403.0,21638036.0,132191.0,512654.0,29482284.0,32290108.0,...,NaN,NaN,-0.049619,-0.079828,-0.620210,0.080004,0.128711,0.621583,7.769365,1.0
3,4Children,R,1.0,2013,5573013.0,15194731.0,228844.0,267156.0,21263744.0,20989048.0,...,NaN,NaN,0.045740,0.068251,1.008259,0.045365,0.067692,0.670166,14.772749,1.0
4,4Children,R,1.0,2010,2056816.0,7335103.0,110256.0,424628.0,9926803.0,9769816.0,...,NaN,NaN,0.057696,0.122532,0.567539,0.101660,0.215901,0.470862,4.631749,1.0

### Pandas crosstab

In [6]:
table = pd.crosstab(df.year, df.grant_type)
table

grant_type   G   N   R  R/G
year
2010        15  59  71    8
2011        15  59  71    8
2012        15  59  71    8
2013        15  59  71    8
2014        15  59  71    8
2015        15  59  71    8

### ACRO crosstab

In [7]:
safe_table = acro.crosstab(df.year, df.grant_type)
safe_table

DEBUG:acro:crosstab()
DEBUG:acro:caller: safe_table = acro.crosstab(df.year, df.grant_type)
DEBUG:acro:get_aggfunc()
DEBUG:acro:aggfunc: None
DEBUG:acro:apply_suppression()
DEBUG:acro:outcome_df:
grant_type   G   N   R          R/G
year
2010        ok  ok  ok  threshold;
2011        ok  ok  ok  threshold;
2012        ok  ok  ok  threshold;
2013        ok  ok  ok  threshold;
2014        ok  ok  ok  threshold;
2015        ok  ok  ok  threshold;
DEBUG:acro:get_summary(): fail; threshold: 6 cells suppressed;
DEBUG:acro:add_output(): output_0

grant_type   G   N   R  R/G
year
2010        15  59  71  NaN
2011        15  59  71  NaN
2012        15  59  71  NaN
2013        15  59  71  NaN
2014        15  59  71  NaN
2015        15  59  71  NaN

In [8]:
safe_table = acro.crosstab(df.year, df.grant_type, values=df.inc_grants, aggfunc="mean")
safe_table

DEBUG:acro:crosstab()
DEBUG:acro:caller: safe_table = acro.crosstab(df.year, df.grant_type, values=df.inc_grants, aggfunc="mean")
DEBUG:acro:get_aggfunc()
DEBUG:acro:aggfunc: <function mean at 0x7fbeb8098040>
DEBUG:acro:apply_suppression()
DEBUG:acro:outcome_df:
grant_type   G   N   R                            R/G
year
2010        ok  ok  ok  threshold; p-ratio; nk-rule;
2011        ok  ok  ok                    threshold;
2012        ok  ok  ok                    threshold;
2013        ok  ok  ok                    threshold;
2014        ok  ok  ok                    threshold;
2015        ok  ok  ok                    threshold;
DEBUG:acro:get_summary(): fail; threshold: 6 cells suppressed; p-ratio: 1 cells suppressed; nk-rule: 1 cells suppressed;
DEBUG:acro:add_output(): output_1

grant_type           G              N           R  R/G
year
2010         9921906.0       0.000000   8402284.0  NaN
2011         8502247.0  124013.859375   7716880.0  NaN
2012        11458580.0  131859.062500   6958050.5  NaN
2013        13557147.0  147937.796875   7202273.5  NaN
2014        13748147.0  133198.250000   8277525.5  NaN
2015        11133433.0  146572.187500  10812888.0  NaN

### ACRO pivot_table

In [9]:
table = acro.pivot_table(
    df, index=["grant_type"], values=["inc_grants"], aggfunc=["mean", "std"]
)
table

DEBUG:acro:pivot_table()
DEBUG:acro:caller: table = acro.pivot_table(
DEBUG:acro:get_aggfuncs()
DEBUG:acro:get_aggfunc()
DEBUG:acro:aggfunc: <function mean at 0x7fbeb8098040>
DEBUG:acro:get_aggfunc()
DEBUG:acro:aggfunc: <function std at 0x7fbeb80981f0>
DEBUG:acro:aggfuncs: [<function mean at 0x7fbeb8098040>, <function std at 0x7fbeb80981f0>]
DEBUG:acro:apply_suppression()
DEBUG:acro:outcome_df:
                 mean        std
           inc_grants inc_grants
grant_type
G                  ok         ok
N                  ok         ok
R                  ok         ok
R/G                ok         ok
DEBUG:acro:get_summary(): pass
DEBUG:acro:add_output(): output_2

                    mean           std
              inc_grants    inc_grants
grant_type
G           1.141279e+07  2.283220e+07
N           1.344319e+05  1.988737e+05
R           8.098502e+06  3.204495e+07
R/G         1.664827e+07  1.583532e+07

### ACRO OLS

In [10]:
new_df = df[["inc_activity", "inc_grants", "inc_donations", "total_costs"]]
new_df = new_df.dropna()

y = new_df["inc_activity"]
x = new_df[["inc_grants", "inc_donations", "total_costs"]]
x = sm.add_constant(x)

# auto fit
results = acro.ols(y, x)
results.summary()

DEBUG:acro:ols() outcome: pass; dof=807.0 >= 10
DEBUG:acro:add_output(): output_3

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           inc_activity   R-squared:                       0.894
Model:                            OLS   Adj. R-squared:                  0.894
Method:                 Least Squares   F-statistic:                     2276.
Date:                Wed, 28 Sep 2022   Prob (F-statistic):               0.00
Time:                        12:05:40   Log-Likelihood:                -14493.
No. Observations:                 811   AIC:                         2.899e+04
Df Residuals:                     807   BIC:                         2.901e+04
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          3.994e+05   5.31e+05      0.752      0.452   -6.43e+05    1.44e+06
inc_grants       -0.8856      0.025    -36.128      0.000      -0.934      -0.837
inc_donations    -0.6659      0.016    -40.905      0.000      -0.698      -0.634
total_costs       0.8318      0.011     78.937      0.000       0.811       0.853
==============================================================================
Omnibus:                     1348.637   Durbin-Watson:                   1.424
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1298161.546
Skew:                          10.026   Prob(JB):                         0.00
Kurtosis:                     197.973   Cond. No.                     1.06e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.06e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### ACRO Probit

In [11]:
new_df = df[["survivor", "inc_activity", "inc_grants", "inc_donations", "total_costs"]]
new_df = new_df.dropna()

y = new_df["survivor"].astype("category").cat.codes  # numeric
y.name = "survivor"
x = new_df[["inc_activity", "inc_grants", "inc_donations", "total_costs"]]

# auto fit
results = acro.probit(y, x)
results.summary()

DEBUG:acro:probit() outcome: pass; dof=807.0 >= 10
DEBUG:acro:add_output(): output_4

Optimization terminated successfully.
         Current function value: 0.609399
         Iterations 1

<class 'statsmodels.iolib.summary.Summary'>
"""
                          Probit Regression Results
==============================================================================
Dep. Variable:               survivor   No. Observations:                  811
Model:                         Probit   Df Residuals:                      807
Method:                           MLE   Df Model:                            3
Date:                Wed, 28 Sep 2022   Pseudo R-squ.:                 0.02999
Time:                        12:05:40   Log-Likelihood:                -494.22
converged:                       True   LL-Null:                       -509.50
Covariance Type:            nonrobust   LLR p-value:                 1.054e-06
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
inc_activity   1.899e-09   5.31e-09      0.357      0.721   -8.51e-09    1.23e-08
inc_grants     1.588e-09   5.54e-09      0.286      0.775   -9.28e-09    1.25e-08
inc_donations  3.396e-09    4.4e-09      0.772      0.440   -5.22e-09     1.2e-08
total_costs    2.682e-09    4.7e-09      0.571      0.568   -6.53e-09    1.19e-08
=================================================================================
"""

### ACRO Logit

In [12]:
# auto fit
results = acro.logit(y, x)
results.summary()

DEBUG:acro:logit() outcome: pass; dof=807.0 >= 10
DEBUG:acro:add_output(): output_5

Optimization terminated successfully.
         Current function value: 0.610705
         Iterations 1

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survivor   No. Observations:                  811
Model:                          Logit   Df Residuals:                      807
Method:                           MLE   Df Model:                            3
Date:                Wed, 28 Sep 2022   Pseudo R-squ.:                 0.02791
Time:                        12:05:40   Log-Likelihood:                -495.28
converged:                       True   LL-Null:                       -509.50
Covariance Type:            nonrobust   LLR p-value:                 2.939e-06
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
inc_activity   3.031e-09   8.83e-09      0.343      0.732   -1.43e-08    2.03e-08
inc_grants     2.534e-09   9.13e-09      0.277      0.781   -1.54e-08    2.04e-08
inc_donations   5.42e-09   7.37e-09      0.736      0.462   -9.02e-09    1.99e-08
total_costs     4.28e-09   7.84e-09      0.546      0.585   -1.11e-08    1.96e-08
=================================================================================
"""

### List current ACRO outputs

In [13]:
output = acro.get_outputs()
output

DEBUG:acro:get_outputs()

{'output_0': {'command': 'safe_table = acro.crosstab(df.year, df.grant_type)',
  'summary': 'fail; threshold: 6 cells suppressed; ',
  'outcome': '{"G":{"2010":"ok","2011":"ok","2012":"ok","2013":"ok","2014":"ok","2015":"ok"},"N":{"2010":"ok","2011":"ok","2012":"ok","2013":"ok","2014":"ok","2015":"ok"},"R":{"2010":"ok","2011":"ok","2012":"ok","2013":"ok","2014":"ok","2015":"ok"},"R\\/G":{"2010":"threshold; ","2011":"threshold; ","2012":"threshold; ","2013":"threshold; ","2014":"threshold; ","2015":"threshold; "}}',
  'output': {'G': {'2010': 15,
    '2011': 15,
    '2012': 15,
    '2013': 15,
    '2014': 15,
    '2015': 15},
   'N': {'2010': 59,
    '2011': 59,
    '2012': 59,
    '2013': 59,
    '2014': 59,
    '2015': 59},
   'R': {'2010': 71,
    '2011': 71,
    '2012': 71,
    '2013': 71,
    '2014': 71,
    '2015': 71},
   'R/G': {'2010': None,
    '2011': None,
    '2012': None,
    '2013': None,
    '2014': None,
    '2015': None}}},
 'output_1': {'command': 'safe_table = acro.crosstab(df.year, df.grant_type, values=df.inc_grants, aggfunc="mean")',
  'summary': 'fail; threshold: 6 cells suppressed; p-ratio: 1 cells suppressed; nk-rule: 1 cells suppressed; ',
  'outcome': '{"G":{"2010":"ok","2011":"ok","2012":"ok","2013":"ok","2014":"ok","2015":"ok"},"N":{"2010":"ok","2011":"ok","2012":"ok","2013":"ok","2014":"ok","2015":"ok"},"R":{"2010":"ok","2011":"ok","2012":"ok","2013":"ok","2014":"ok","2015":"ok"},"R\\/G":{"2010":"threshold; p-ratio; nk-rule; ","2011":"threshold; ","2012":"threshold; ","2013":"threshold; ","2014":"threshold; ","2015":"threshold; "}}',
  'output': {'G': {'2010': 9921906.0,
    '2011': 8502247.0,
    '2012': 11458580.0,
    '2013': 13557147.0,
    '2014': 13748147.0,
    '2015': 11133433.0},
   'N': {'2010': 0.0,
    '2011': 124013.859375,
    '2012': 131859.0625,
    '2013': 147937.796875,
    '2014': 133198.25,
    '2015': 146572.1875},
   'R': {'2010': 8402284.0,
    '2011': 7716880.0,
    '2012': 6958050.5,
    '2013': 7202273.5,
    '2014': 8277525.5,
    '2015': 10812888.0},
   'R/G': {'2010': None,
    '2011': None,
    '2012': None,
    '2013': None,
    '2014': None,
    '2015': None}}},
 'output_2': {'command': 'table = acro.pivot_table(',
  'summary': 'pass',
  'outcome': '{"(\'mean\', \'inc_grants\')":{"G":"ok","N":"ok","R":"ok","R\\/G":"ok"},"(\'std\', \'inc_grants\')":{"G":"ok","N":"ok","R":"ok","R\\/G":"ok"}}',
  'output': {"('mean', 'inc_grants')": {'G': 11412787.0,
    'N': 134431.890625,
    'R': 8098502.0,
    'R/G': 16648273.0},
   "('std', 'inc_grants')": {'G': 22832202.734991174,
    'N': 198873.7266560157,
    'R': 32044950.990858816,
    'R/G': 15835323.99322482}}},
 'output_3': {'command': 'results = acro.ols(y, x)',
  'summary': 'pass',
  'outcome': 'pass; dof=807.0 >= 10',
  'output': {'table_0': '{"inc_activity":{"Model:":"OLS","Method:":"Least Squares","Date:":"Wed, 28 Sep 2022","Time:":"12:05:40","No. Observations:":"811","Df Residuals:":"807","Df Model:":"3","Covariance Type:":"nonrobust"},"R-squared:":{"Model:":"Adj. R-squared:","Method:":"F-statistic:","Date:":"Prob (F-statistic):","Time:":"Log-Likelihood:","No. Observations:":"AIC:","Df Residuals:":"BIC:","Df Model:":null,"Covariance Type:":null},"0.894":{"Model:":0.894,"Method:":2276.0,"Date:":0.0,"Time:":-14493.0,"No. Observations:":28990.0,"Df Residuals:":29010.0,"Df Model:":null,"Covariance Type:":null}}',
   'table_1': '{"coef":{"const":399400.0,"inc_grants":-0.8856,"inc_donations":-0.6659,"total_costs":0.8318},"std err":{"const":531000.0,"inc_grants":0.025,"inc_donations":0.016,"total_costs":0.011},"t":{"const":0.752,"inc_grants":-36.128,"inc_donations":-40.905,"total_costs":78.937},"P>|t|":{"const":0.452,"inc_grants":0.0,"inc_donations":0.0,"total_costs":0.0},"[0.025":{"const":-643000.0,"inc_grants":-0.934,"inc_donations":-0.698,"total_costs":0.811},"0.975]":{"const":1440000.0,"inc_grants":-0.837,"inc_donations":-0.634,"total_costs":0.853}}',
   'table_2': '{"1348.637":{"Prob(Omnibus):":0.0,"Skew:":10.026,"Kurtosis:":197.973},"Durbin-Watson:":{"Prob(Omnibus):":"Jarque-Bera (JB):","Skew:":"Prob(JB):","Kurtosis:":"Cond. No."},"1.424":{"Prob(Omnibus):":1298161.5460000001,"Skew:":0.0,"Kurtosis:":106000000.0}}'}},
 'output_4': {'command': 'results = acro.probit(y, x)',
  'summary': 'pass',
  'outcome': 'pass; dof=807.0 >= 10',
  'output': {'table_0': '{"survivor":{"Model:":"Probit","Method:":"MLE","Date:":"Wed, 28 Sep 2022","Time:":"12:05:40","converged:":"True","Covariance Type:":"nonrobust"},"No. Observations:":{"Model:":"Df Residuals:","Method:":"Df Model:","Date:":"Pseudo R-squ.:","Time:":"Log-Likelihood:","converged:":"LL-Null:","Covariance Type:":"LLR p-value:"},"811":{"Model:":807.0,"Method:":3.0,"Date:":0.02999,"Time:":-494.22,"converged:":-509.5,"Covariance Type:":0.000001054}}',
   'table_1': '{"coef":{"inc_activity":0.0000000019,"inc_grants":0.0000000016,"inc_donations":0.0000000034,"total_costs":0.0000000027},"std err":{"inc_activity":0.0000000053,"inc_grants":0.0000000055,"inc_donations":0.0000000044,"total_costs":0.0000000047},"z":{"inc_activity":0.357,"inc_grants":0.286,"inc_donations":0.772,"total_costs":0.571},"P>|z|":{"inc_activity":0.721,"inc_grants":0.775,"inc_donations":0.44,"total_costs":0.568},"[0.025":{"inc_activity":-0.0000000085,"inc_grants":-0.0000000093,"inc_donations":-0.0000000052,"total_costs":-0.0000000065},"0.975]":{"inc_activity":0.0000000123,"inc_grants":0.0000000125,"inc_donations":0.000000012,"total_costs":0.0000000119}}'}},
 'output_5': {'command': 'results = acro.logit(y, x)',
  'summary': 'pass',
  'outcome': 'pass; dof=807.0 >= 10',
  'output': {'table_0': '{"survivor":{"Model:":"Logit","Method:":"MLE","Date:":"Wed, 28 Sep 2022","Time:":"12:05:40","converged:":"True","Covariance Type:":"nonrobust"},"No. Observations:":{"Model:":"Df Residuals:","Method:":"Df Model:","Date:":"Pseudo R-squ.:","Time:":"Log-Likelihood:","converged:":"LL-Null:","Covariance Type:":"LLR p-value:"},"811":{"Model:":807.0,"Method:":3.0,"Date:":0.02791,"Time:":-495.28,"converged:":-509.5,"Covariance Type:":0.000002939}}',
   'table_1': '{"coef":{"inc_activity":0.000000003,"inc_grants":0.0000000025,"inc_donations":0.0000000054,"total_costs":0.0000000043},"std err":{"inc_activity":0.0000000088,"inc_grants":0.0000000091,"inc_donations":0.0000000074,"total_costs":0.0000000078},"z":{"inc_activity":0.343,"inc_grants":0.277,"inc_donations":0.736,"total_costs":0.546},"P>|z|":{"inc_activity":0.732,"inc_grants":0.781,"inc_donations":0.462,"total_costs":0.585},"[0.025":{"inc_activity":-0.0000000143,"inc_grants":-0.0000000154,"inc_donations":-0.000000009,"total_costs":-0.0000000111},"0.975]":{"inc_activity":0.0000000203,"inc_grants":0.0000000204,"inc_donations":0.0000000199,"total_costs":0.0000000196}}'}}}

### Remove an ACRO output before finalising

In [14]:
acro.remove_output("output_1")

DEBUG:acro:remove_output(): output_1 removed

### Finalise ACRO

In [15]:
output = acro.finalise()

DEBUG:acro:finalise()
DEBUG:acro:filename: results.json
DEBUG:acro:output: {
    "output_0": {
        "command": "safe_table = acro.crosstab(df.year, df.grant_type)",
        "summary": "fail; threshold: 6 cells suppressed; ",
        "outcome": "{\"G\":{\"2010\":\"ok\",\"2011\":\"ok\",\"2012\":\"ok\",\"2013\":\"ok\",\"2014\":\"ok\",\"2015\":\"ok\"},\"N\":{\"2010\":\"ok\",\"2011\":\"ok\",\"2012\":\"ok\",\"2013\":\"ok\",\"2014\":\"ok\",\"2015\":\"ok\"},\"R\":{\"2010\":\"ok\",\"2011\":\"ok\",\"2012\":\"ok\",\"2013\":\"ok\",\"2014\":\"ok\",\"2015\":\"ok\"},\"R\\/G\":{\"2010\":\"threshold; \",\"2011\":\"threshold; \",\"2012\":\"threshold; \",\"2013\":\"threshold; \",\"2014\":\"threshold; \",\"2015\":\"threshold; \"}}",
        "output": {
            "G": {
                "2010": 15,
                "2011": 15,
                "2012": 15,
                "2013": 15,
                "2014": 15,
                "2015": 15
            },
            "N": {
                "2010": 59,
                "2011": 59,
                "2012": 59,
                "2013": 59,
                "2014": 59,
                "2015": 59
            },
            "R": {
                "2010": 71,
                "2011": 71,
                "2012": 71,
                "2013": 71,
                "2014": 71,
                "2015": 71
            },
            "R/G": {
                "2010": null,
                "2011": null,
                "2012": null,
                "2013": null,
                "2014": null,
                "2015": null
            }
        }
    },
    "output_2": {
        "command": "table = acro.pivot_table(",
        "summary": "pass",
        "outcome": "{\"('mean', 'inc_grants')\":{\"G\":\"ok\",\"N\":\"ok\",\"R\":\"ok\",\"R\\/G\":\"ok\"},\"('std', 'inc_grants')\":{\"G\":\"ok\",\"N\":\"ok\",\"R\":\"ok\",\"R\\/G\":\"ok\"}}",
        "output": {
            "('mean', 'inc_grants')": {
                "G": 11412787.0,
                "N": 134431.890625,
                "R": 8098502.0,
                "R/G": 16648273.0
            },
            "('std', 'inc_grants')": {
                "G": 22832202.734991174,
                "N": 198873.7266560157,
                "R": 32044950.990858816,
                "R/G": 15835323.99322482
            }
        }
    },
    "output_3": {
        "command": "results = acro.ols(y, x)",
        "summary": "pass",
        "outcome": "pass; dof=807.0 >= 10",
        "output": {
            "table_0": "{\"inc_activity\":{\"Model:\":\"OLS\",\"Method:\":\"Least Squares\",\"Date:\":\"Wed, 28 Sep 2022\",\"Time:\":\"12:05:40\",\"No. Observations:\":\"811\",\"Df Residuals:\":\"807\",\"Df Model:\":\"3\",\"Covariance Type:\":\"nonrobust\"},\"R-squared:\":{\"Model:\":\"Adj. R-squared:\",\"Method:\":\"F-statistic:\",\"Date:\":\"Prob (F-statistic):\",\"Time:\":\"Log-Likelihood:\",\"No. Observations:\":\"AIC:\",\"Df Residuals:\":\"BIC:\",\"Df Model:\":null,\"Covariance Type:\":null},\"0.894\":{\"Model:\":0.894,\"Method:\":2276.0,\"Date:\":0.0,\"Time:\":-14493.0,\"No. Observations:\":28990.0,\"Df Residuals:\":29010.0,\"Df Model:\":null,\"Covariance Type:\":null}}",
            "table_1": "{\"coef\":{\"const\":399400.0,\"inc_grants\":-0.8856,\"inc_donations\":-0.6659,\"total_costs\":0.8318},\"std err\":{\"const\":531000.0,\"inc_grants\":0.025,\"inc_donations\":0.016,\"total_costs\":0.011},\"t\":{\"const\":0.752,\"inc_grants\":-36.128,\"inc_donations\":-40.905,\"total_costs\":78.937},\"P>|t|\":{\"const\":0.452,\"inc_grants\":0.0,\"inc_donations\":0.0,\"total_costs\":0.0},\"[0.025\":{\"const\":-643000.0,\"inc_grants\":-0.934,\"inc_donations\":-0.698,\"total_costs\":0.811},\"0.975]\":{\"const\":1440000.0,\"inc_grants\":-0.837,\"inc_donations\":-0.634,\"total_costs\":0.853}}",
            "table_2": "{\"1348.637\":{\"Prob(Omnibus):\":0.0,\"Skew:\":10.026,\"Kurtosis:\":197.973},\"Durbin-Watson:\":{\"Prob(Omnibus):\":\"Jarque-Bera (JB):\",\"Skew:\":\"Prob(JB):\",\"Kurtosis:\":\"Cond. No.\"},\"1.424\":{\"Prob(Omnibus):\":1298161.5460000001,\"Skew:\":0.0,\"Kurtosis:\":106000000.0}}"
        }
    },
    "output_4": {
        "command": "results = acro.probit(y, x)",
        "summary": "pass",
        "outcome": "pass; dof=807.0 >= 10",
        "output": {
            "table_0": "{\"survivor\":{\"Model:\":\"Probit\",\"Method:\":\"MLE\",\"Date:\":\"Wed, 28 Sep 2022\",\"Time:\":\"12:05:40\",\"converged:\":\"True\",\"Covariance Type:\":\"nonrobust\"},\"No. Observations:\":{\"Model:\":\"Df Residuals:\",\"Method:\":\"Df Model:\",\"Date:\":\"Pseudo R-squ.:\",\"Time:\":\"Log-Likelihood:\",\"converged:\":\"LL-Null:\",\"Covariance Type:\":\"LLR p-value:\"},\"811\":{\"Model:\":807.0,\"Method:\":3.0,\"Date:\":0.02999,\"Time:\":-494.22,\"converged:\":-509.5,\"Covariance Type:\":0.000001054}}",
            "table_1": "{\"coef\":{\"inc_activity\":0.0000000019,\"inc_grants\":0.0000000016,\"inc_donations\":0.0000000034,\"total_costs\":0.0000000027},\"std err\":{\"inc_activity\":0.0000000053,\"inc_grants\":0.0000000055,\"inc_donations\":0.0000000044,\"total_costs\":0.0000000047},\"z\":{\"inc_activity\":0.357,\"inc_grants\":0.286,\"inc_donations\":0.772,\"total_costs\":0.571},\"P>|z|\":{\"inc_activity\":0.721,\"inc_grants\":0.775,\"inc_donations\":0.44,\"total_costs\":0.568},\"[0.025\":{\"inc_activity\":-0.0000000085,\"inc_grants\":-0.0000000093,\"inc_donations\":-0.0000000052,\"total_costs\":-0.0000000065},\"0.975]\":{\"inc_activity\":0.0000000123,\"inc_grants\":0.0000000125,\"inc_donations\":0.000000012,\"total_costs\":0.0000000119}}"
        }
    },
    "output_5": {
        "command": "results = acro.logit(y, x)",
        "summary": "pass",
        "outcome": "pass; dof=807.0 >= 10",
        "output": {
            "table_0": "{\"survivor\":{\"Model:\":\"Logit\",\"Method:\":\"MLE\",\"Date:\":\"Wed, 28 Sep 2022\",\"Time:\":\"12:05:40\",\"converged:\":\"True\",\"Covariance Type:\":\"nonrobust\"},\"No. Observations:\":{\"Model:\":\"Df Residuals:\",\"Method:\":\"Df Model:\",\"Date:\":\"Pseudo R-squ.:\",\"Time:\":\"Log-Likelihood:\",\"converged:\":\"LL-Null:\",\"Covariance Type:\":\"LLR p-value:\"},\"811\":{\"Model:\":807.0,\"Method:\":3.0,\"Date:\":0.02791,\"Time:\":-495.28,\"converged:\":-509.5,\"Covariance Type:\":0.000002939}}",
            "table_1": "{\"coef\":{\"inc_activity\":0.000000003,\"inc_grants\":0.0000000025,\"inc_donations\":0.0000000054,\"total_costs\":0.0000000043},\"std err\":{\"inc_activity\":0.0000000088,\"inc_grants\":0.0000000091,\"inc_donations\":0.0000000074,\"total_costs\":0.0000000078},\"z\":{\"inc_activity\":0.343,\"inc_grants\":0.277,\"inc_donations\":0.736,\"total_costs\":0.546},\"P>|z|\":{\"inc_activity\":0.732,\"inc_grants\":0.781,\"inc_donations\":0.462,\"total_costs\":0.585},\"[0.025\":{\"inc_activity\":-0.0000000143,\"inc_grants\":-0.0000000154,\"inc_donations\":-0.000000009,\"total_costs\":-0.0000000111},\"0.975]\":{\"inc_activity\":0.0000000203,\"inc_grants\":0.0000000204,\"inc_donations\":0.0000000199,\"total_costs\":0.0000000196}}"
        }
    }
}

In [16]:
output

{'output_0': {'command': 'safe_table = acro.crosstab(df.year, df.grant_type)',
  'summary': 'fail; threshold: 6 cells suppressed; ',
  'outcome': '{"G":{"2010":"ok","2011":"ok","2012":"ok","2013":"ok","2014":"ok","2015":"ok"},"N":{"2010":"ok","2011":"ok","2012":"ok","2013":"ok","2014":"ok","2015":"ok"},"R":{"2010":"ok","2011":"ok","2012":"ok","2013":"ok","2014":"ok","2015":"ok"},"R\\/G":{"2010":"threshold; ","2011":"threshold; ","2012":"threshold; ","2013":"threshold; ","2014":"threshold; ","2015":"threshold; "}}',
  'output': {'G': {'2010': 15,
    '2011': 15,
    '2012': 15,
    '2013': 15,
    '2014': 15,
    '2015': 15},
   'N': {'2010': 59,
    '2011': 59,
    '2012': 59,
    '2013': 59,
    '2014': 59,
    '2015': 59},
   'R': {'2010': 71,
    '2011': 71,
    '2012': 71,
    '2013': 71,
    '2014': 71,
    '2015': 71},
   'R/G': {'2010': None,
    '2011': None,
    '2012': None,
    '2013': None,
    '2014': None,
    '2015': None}}},
 'output_2': {'command': 'table = acro.pivot_table(',
  'summary': 'pass',
  'outcome': '{"(\'mean\', \'inc_grants\')":{"G":"ok","N":"ok","R":"ok","R\\/G":"ok"},"(\'std\', \'inc_grants\')":{"G":"ok","N":"ok","R":"ok","R\\/G":"ok"}}',
  'output': {"('mean', 'inc_grants')": {'G': 11412787.0,
    'N': 134431.890625,
    'R': 8098502.0,
    'R/G': 16648273.0},
   "('std', 'inc_grants')": {'G': 22832202.734991174,
    'N': 198873.7266560157,
    'R': 32044950.990858816,
    'R/G': 15835323.99322482}}},
 'output_3': {'command': 'results = acro.ols(y, x)',
  'summary': 'pass',
  'outcome': 'pass; dof=807.0 >= 10',
  'output': {'table_0': '{"inc_activity":{"Model:":"OLS","Method:":"Least Squares","Date:":"Wed, 28 Sep 2022","Time:":"12:05:40","No. Observations:":"811","Df Residuals:":"807","Df Model:":"3","Covariance Type:":"nonrobust"},"R-squared:":{"Model:":"Adj. R-squared:","Method:":"F-statistic:","Date:":"Prob (F-statistic):","Time:":"Log-Likelihood:","No. Observations:":"AIC:","Df Residuals:":"BIC:","Df Model:":null,"Covariance Type:":null},"0.894":{"Model:":0.894,"Method:":2276.0,"Date:":0.0,"Time:":-14493.0,"No. Observations:":28990.0,"Df Residuals:":29010.0,"Df Model:":null,"Covariance Type:":null}}',
   'table_1': '{"coef":{"const":399400.0,"inc_grants":-0.8856,"inc_donations":-0.6659,"total_costs":0.8318},"std err":{"const":531000.0,"inc_grants":0.025,"inc_donations":0.016,"total_costs":0.011},"t":{"const":0.752,"inc_grants":-36.128,"inc_donations":-40.905,"total_costs":78.937},"P>|t|":{"const":0.452,"inc_grants":0.0,"inc_donations":0.0,"total_costs":0.0},"[0.025":{"const":-643000.0,"inc_grants":-0.934,"inc_donations":-0.698,"total_costs":0.811},"0.975]":{"const":1440000.0,"inc_grants":-0.837,"inc_donations":-0.634,"total_costs":0.853}}',
   'table_2': '{"1348.637":{"Prob(Omnibus):":0.0,"Skew:":10.026,"Kurtosis:":197.973},"Durbin-Watson:":{"Prob(Omnibus):":"Jarque-Bera (JB):","Skew:":"Prob(JB):","Kurtosis:":"Cond. No."},"1.424":{"Prob(Omnibus):":1298161.5460000001,"Skew:":0.0,"Kurtosis:":106000000.0}}'}},
 'output_4': {'command': 'results = acro.probit(y, x)',
  'summary': 'pass',
  'outcome': 'pass; dof=807.0 >= 10',
  'output': {'table_0': '{"survivor":{"Model:":"Probit","Method:":"MLE","Date:":"Wed, 28 Sep 2022","Time:":"12:05:40","converged:":"True","Covariance Type:":"nonrobust"},"No. Observations:":{"Model:":"Df Residuals:","Method:":"Df Model:","Date:":"Pseudo R-squ.:","Time:":"Log-Likelihood:","converged:":"LL-Null:","Covariance Type:":"LLR p-value:"},"811":{"Model:":807.0,"Method:":3.0,"Date:":0.02999,"Time:":-494.22,"converged:":-509.5,"Covariance Type:":0.000001054}}',
   'table_1': '{"coef":{"inc_activity":0.0000000019,"inc_grants":0.0000000016,"inc_donations":0.0000000034,"total_costs":0.0000000027},"std err":{"inc_activity":0.0000000053,"inc_grants":0.0000000055,"inc_donations":0.0000000044,"total_costs":0.0000000047},"z":{"inc_activity":0.357,"inc_grants":0.286,"inc_donations":0.772,"total_costs":0.571},"P>|z|":{"inc_activity":0.721,"inc_grants":0.775,"inc_donations":0.44,"total_costs":0.568},"[0.025":{"inc_activity":-0.0000000085,"inc_grants":-0.0000000093,"inc_donations":-0.0000000052,"total_costs":-0.0000000065},"0.975]":{"inc_activity":0.0000000123,"inc_grants":0.0000000125,"inc_donations":0.000000012,"total_costs":0.0000000119}}'}},
 'output_5': {'command': 'results = acro.logit(y, x)',
  'summary': 'pass',
  'outcome': 'pass; dof=807.0 >= 10',
  'output': {'table_0': '{"survivor":{"Model:":"Logit","Method:":"MLE","Date:":"Wed, 28 Sep 2022","Time:":"12:05:40","converged:":"True","Covariance Type:":"nonrobust"},"No. Observations:":{"Model:":"Df Residuals:","Method:":"Df Model:","Date:":"Pseudo R-squ.:","Time:":"Log-Likelihood:","converged:":"LL-Null:","Covariance Type:":"LLR p-value:"},"811":{"Model:":807.0,"Method:":3.0,"Date:":0.02791,"Time:":-495.28,"converged:":-509.5,"Covariance Type:":0.000002939}}',
   'table_1': '{"coef":{"inc_activity":0.000000003,"inc_grants":0.0000000025,"inc_donations":0.0000000054,"total_costs":0.0000000043},"std err":{"inc_activity":0.0000000088,"inc_grants":0.0000000091,"inc_donations":0.0000000074,"total_costs":0.0000000078},"z":{"inc_activity":0.343,"inc_grants":0.277,"inc_donations":0.736,"total_costs":0.546},"P>|z|":{"inc_activity":0.732,"inc_grants":0.781,"inc_donations":0.462,"total_costs":0.585},"[0.025":{"inc_activity":-0.0000000143,"inc_grants":-0.0000000154,"inc_donations":-0.000000009,"total_costs":-0.0000000111},"0.975]":{"inc_activity":0.0000000203,"inc_grants":0.0000000204,"inc_donations":0.0000000199,"total_costs":0.0000000196}}'}}}