# ACRO Tests

In [2]:
import os
import sys
import pandas as pd
import numpy as np

In [3]:
sys.path.insert(0, os.path.abspath(".."))

In [4]:
from acro import ACRO, acro_tables, add_constant, utils

### Instantiate ACRO

In [5]:
acro = ACRO(suppress=False)

INFO:acro:version: 0.4.3
INFO:acro:config: {'safe_threshold': 10, 'safe_dof_threshold': 10, 'safe_nk_n': 2, 'safe_nk_k': 0.9, 'safe_pratio_p': 0.1, 'check_missing_values': False, 'survival_safe_threshold': 10, 'zeros_are_disclosive': True}
INFO:acro:automatic suppression: False

### Load test data

In [6]:
path = os.path.join("../data", "test_data.dta")
df = pd.read_stata(path)
df.head()

,charity,grant_type,index,year,inc_activity,inc_grants,inc_donations,inc_other,inc_total,total_costs,...,sh_staff_grants_given,sh_assets_grants_given,sh_income_balance,sh_staff_balance,sh_assets_balance,sh_income_assets,sh_staff_assets,sh_income_staff_costs,sh_assets_staff_costs,wgt
0,4Children,R,1.0,2011,2880902.0,9603182.0,91404.0,310947.0,12886435.0,12127472.0,...,NaN,NaN,0.072636,0.135971,0.767809,0.094602,0.177090,0.534203,5.646843,1.0
1,4Children,R,1.0,2014,6810520.0,18768904.0,58002.0,401879.0,26039304.0,25493796.0,...,NaN,NaN,0.057641,0.089150,1.001396,0.057560,0.089026,0.646561,11.232729,1.0
2,4Children,R,1.0,2015,7199403.0,21638036.0,132191.0,512654.0,29482284.0,32290108.0,...,NaN,NaN,-0.049619,-0.079828,-0.620210,0.080004,0.128711,0.621583,7.769365,1.0
3,4Children,R,1.0,2013,5573013.0,15194731.0,228844.0,267156.0,21263744.0,20989048.0,...,NaN,NaN,0.045740,0.068251,1.008259,0.045365,0.067692,0.670166,14.772749,1.0
4,4Children,R,1.0,2010,2056816.0,7335103.0,110256.0,424628.0,9926803.0,9769816.0,...,NaN,NaN,0.057696,0.122532,0.567539,0.101660,0.215901,0.470862,4.631749,1.0

### Pandas crosstab

In [ ]:
table = pd.crosstab(df.year, df.grant_type)
table

grant_type   G   N   R  R/G
year
2010        15  59  71    8
2011        15  59  71    8
2012        15  59  71    8
2013        15  59  71    8
2014        15  59  71    8
2015        15  59  71    8

### ACRO crosstab

In [ ]:
safe_table = acro.crosstab(df.year, df.grant_type)
safe_table

INFO:acro:get_summary(): fail; threshold: 6 cells suppressed;
INFO:acro:outcome_df:
---------------------------------------|
grant_type |G   |N   |R   |R/G         |
year       |    |    |    |            |
---------------------------------------|
2010       | ok | ok | ok | threshold; |
2011       | ok | ok | ok | threshold; |
2012       | ok | ok | ok | threshold; |
2013       | ok | ok | ok | threshold; |
2014       | ok | ok | ok | threshold; |
2015       | ok | ok | ok | threshold; |
---------------------------------------|

INFO:acro:records:add(): output_1

grant_type   G   N   R  R/G
year
2010        15  59  71  NaN
2011        15  59  71  NaN
2012        15  59  71  NaN
2013        15  59  71  NaN
2014        15  59  71  NaN
2015        15  59  71  NaN

### ACRO crosstab with supression

In [ ]:
acro.suppress = True

safe_table = acro.crosstab(df.year, df.grant_type, values=df.inc_grants, aggfunc="mean")
safe_table

INFO:acro:get_summary(): fail; threshold: 6 cells suppressed; p-ratio: 2 cells suppressed; nk-rule: 1 cells suppressed;
INFO:acro:outcome_df:
----------------------------------------------------------------|
grant_type |G   |N          |R   |R/G                           |
year       |    |           |    |                              |
----------------------------------------------------------------|
2010       | ok | p-ratio;  | ok | threshold; p-ratio; nk-rule; |
2011       | ok |        ok | ok |                   threshold; |
2012       | ok |        ok | ok |                   threshold; |
2013       | ok |        ok | ok |                   threshold; |
2014       | ok |        ok | ok |                   threshold; |
2015       | ok |        ok | ok |                   threshold; |
----------------------------------------------------------------|

INFO:acro:records:add(): output_2

grant_type           G              N           R  R/G
year
2010         9921906.0            NaN   8402284.0  NaN
2011         8502247.0  124013.859375   7716880.0  NaN
2012        11458580.0  131859.062500   6958050.5  NaN
2013        13557147.0  147937.796875   7202273.5  NaN
2014        13748147.0  133198.250000   8277525.5  NaN
2015        11133433.0  146572.187500  10812888.0  NaN

### ACRO crosstab with supression and totals

In [7]:
acro.suppress = False
table = acro.crosstab(
    df.year,
    [df.grant_type, df.survivor],
    values=df.inc_grants,
    aggfunc="count",
    margins=True,
)
print(table)

INFO:acro:get_summary(): fail; threshold: 26 cells may need suppressing; p-ratio: 8 cells may need suppressing; nk-rule: 7 cells may need suppressing;

p-ratio 379        0.0
496        NaN
625    47690.0
Name: __dummy__, dtype: float32
p-ratio 142       93000.0
147    57600000.0
174    46628000.0
225           0.0
445        3000.0
537     3066000.0
695           0.0
786           0.0
831    14175000.0
840     8670000.0
855           0.0
916     8624000.0
Name: __dummy__, dtype: float32
p-ratio 11     NaN
18     NaN
26     NaN
42     NaN
50     NaN
60     NaN
69     0.0
75     NaN
90     NaN
101    NaN
103    0.0
130    NaN
136    NaN
157    NaN
164    NaN
191    NaN
202    NaN
211    NaN
218    NaN
239    NaN
245    NaN
249    NaN
283    NaN
301    NaN
309    0.0
325    NaN
347    NaN
350    NaN
387    NaN
392    NaN
401    NaN
407    NaN
435    NaN
451    NaN
458    NaN
473    NaN
482    NaN
510    NaN
519    NaN
533    NaN
571    NaN
576    0.0
588    NaN
597    NaN
619    NaN
631    NaN
652    NaN
663    NaN
677    NaN
678    0.0
697    NaN
705    NaN
710    NaN
714    NaN
734    NaN
747    NaN
803    NaN
870    NaN
897    NaN
Name: __dummy__, dtype: float32
p-ratio 4       7335103.0
15            NaN
33            NaN
41            NaN
108      458770.0
114      688207.0
124     1210229.0
155      156900.0
170     2104127.0
184      878201.0
192     5622461.0
204           NaN
256     1213752.0
261       33298.0
275      917475.0
280      170861.0
322      833023.0
330     4608790.0
364      318506.0
376      613608.0
415      199544.0
420      232862.0
430      299737.0
465      122330.0
477     1767464.0
491       19583.0
501     1570768.0
504     5067053.0
527     1456214.0
550           NaN
606           NaN
613     1039950.0
647      774522.0
654      254530.0
668    10324751.0
720     2300382.0
729       10944.0
757      571965.0
769      101420.0
783           NaN
839      151783.0
860      267257.0
867      453295.0
876      140314.0
891      253028.0
904      296621.0
910      566870.0
Name: __dummy__, dtype: float32
p-ratio 82        586000.0
84         72000.0
295       396491.0
338      4707584.0
355      7520663.0
367      1457000.0
408       900425.0
441            NaN
557    173171008.0
562            NaN
569     14192000.0
587     16719000.0
603      9913000.0
640      4445000.0
687     32500000.0
743       820000.0
755    165531008.0
766      6051000.0
775            NaN
794      1579000.0
814            0.0
821            NaN
827      4097391.0
848      4072000.0
Name: __dummy__, dtype: float32
p-ratio 58            NaN
232           NaN
269      913000.0
292           NaN
314      913000.0
544    36645000.0
804           NaN
884     8073000.0
Name: __dummy__, dtype: float32
p-ratio 383        0.0
495        0.0
628    44700.0
Name: __dummy__, dtype: float32
p-ratio 143       97000.0
149    52900000.0
176    44369000.0
224           0.0
444      200000.0
536      584000.0
693           0.0
790           0.0
828    13372000.0
842     9107000.0
857           0.0
912     6860000.0
Name: __dummy__, dtype: float32
p-ratio 6       30000.0
19          NaN
27     257094.0
44          0.0
53          0.0
65      50000.0
66          0.0
77          0.0
92     514743.0
100    363900.0
107         0.0
127     19495.0
137      8599.0
160         0.0
166       999.0
189         0.0
203     46276.0
210    337924.0
216         0.0
236         0.0
242    550662.0
251     12540.0
284      3452.0
300    128962.0
308         0.0
324         0.0
345    300543.0
348         0.0
386         0.0
390    147001.0
400      1250.0
403         0.0
432         0.0
452    557665.0
461     29280.0
470    189866.0
483       272.0
511    293041.0
516        60.0
529         0.0
574    960417.0
580         0.0
590         0.0
598      2174.0
620     81751.0
632         0.0
653      3000.0
664    675401.0
674     96956.0
679         0.0
696    200000.0
706     70617.0
708    400509.0
719    409441.0
737     20000.0
749    200000.0
800         0.0
874         0.0
898    228914.0
Name: __dummy__, dtype: float32
p-ratio 0       9603182.0
16      1308251.0
30            NaN
36       226700.0
110      410184.0
115      857918.0
121     1110583.0
150      181137.0
168     2097111.0
183      963550.0
193     5959576.0
207           NaN
257     1080661.0
262       29511.0
270      960648.0
279      131449.0
321      804104.0
333     6215960.0
365      288052.0
377      865189.0
419      328063.0
422      220221.0
428      297715.0
466      105147.0
479     1401967.0
489           0.0
499     1659064.0
506     5255193.0
524     1326767.0
548        3569.0
607       36187.0
612     1038408.0
646      732056.0
657      242378.0
669    10632990.0
725     2953606.0
728        9320.0
758      584362.0
772      162350.0
782       59044.0
834       72155.0
859      252079.0
866      455934.0
877      205629.0
892      293339.0
905      253995.0
906      462461.0
Name: __dummy__, dtype: float32
p-ratio 81        619000.0
89        178000.0
294       188089.0
339      8145394.0
357      7298357.0
366      1814000.0
411      1535733.0
438      1163000.0
556    171564992.0
560      4066298.0
567     10030000.0
585     12395000.0
605     10863000.0
637      3200000.0
684     29700000.0
742       777000.0
753    179178000.0
765      5545000.0
778      1181800.0
796      1907000.0
813            0.0
818      4687000.0
824      9742296.0
847      4548000.0
Name: __dummy__, dtype: float32
p-ratio 54     23634000.0
230    26984000.0
266     1546000.0
290      370000.0
317     1546000.0
541    39118000.0
807    30369000.0
883     4813000.0
Name: __dummy__, dtype: float32
p-ratio 381        0.0
492        0.0
629    42700.0
Name: __dummy__, dtype: float32
p-ratio 141      460000.0
144    60100000.0
175    57500000.0
226           0.0
446     3507000.0
535      656000.0
694           0.0
789           0.0
829    17120000.0
843    25319000.0
853           0.0
917     7174000.0
Name: __dummy__, dtype: float32
p-ratio 10      45000.0
21          0.0
25     857674.0
45        664.0
51          0.0
64      48812.0
71          0.0
76          0.0
95     289356.0
97     418226.0
105         0.0
126      3988.0
135     12592.0
159         0.0
163    185480.0
190         0.0
198     99747.0
213    381990.0
220         0.0
235         0.0
240    370941.0
248     38907.0
282      8592.0
304    330424.0
306         0.0
327         0.0
346    237377.0
349         0.0
388         0.0
394    196970.0
398     15952.0
402     29769.0
437         0.0
455     16405.0
457     29678.0
469    271255.0
480       250.0
515    198047.0
518        25.0
531         0.0
573    982879.0
581         0.0
592    126436.0
596      1020.0
622     81433.0
635     12060.0
650      2208.0
661    619242.0
672    127249.0
683         0.0
698    238836.0
703    130127.0
713    361811.0
716    400024.0
733     15916.0
748    200000.0
798         0.0
875         0.0
895    392323.0
Name: __dummy__, dtype: float32
p-ratio 5      11156805.0
12      1216430.0
34            NaN
37       303019.0
109      285279.0
117      736907.0
123     1189416.0
154      197316.0
172     1920315.0
180      950461.0
195     4710045.0
206           NaN
252      569537.0
260       27482.0
271      919883.0
277      155549.0
323      914415.0
332     5372233.0
360       89304.0
374     1459481.0
416      417988.0
425      221496.0
427      295882.0
463       54698.0
476     1105857.0
490       32422.0
498     1616876.0
508     5621966.0
522      761119.0
551         557.0
611      235962.0
615      485925.0
642      891598.0
655      205421.0
667    10309506.0
722     2451239.0
727           0.0
756      574000.0
768      210754.0
780      106468.0
837      116147.0
858      182621.0
865     1342632.0
879      134934.0
889      313656.0
902      262306.0
907      816456.0
Name: __dummy__, dtype: float32
p-ratio 78        550000.0
88        151000.0
298       169873.0
336      5060737.0
354      6712465.0
369      2205000.0
413       732329.0
440       620000.0
553    171692992.0
561      3738474.0
566     11819000.0
586      7910000.0
602      9914000.0
639      1800000.0
686     26800000.0
739      1874000.0
751    150663008.0
764      2148000.0
776      1037130.0
793      1590000.0
812            0.0
816      4088000.0
822      5076112.0
851      2811000.0
Name: __dummy__, dtype: float32
p-ratio 55     24309000.0
231    31064000.0
267     3240000.0
293      470000.0
312      935000.0
540    42228000.0
806    28116000.0
885     4118000.0
Name: __dummy__, dtype: float32
p-ratio 378        0.0
493        0.0
627    38200.0
Name: __dummy__, dtype: float32
p-ratio 139      200000.0
148    69100000.0
178    74500000.0
223           0.0
447     8892000.0
534      447000.0
691           0.0
791           0.0
830    17270000.0
844    25700000.0
854           0.0
914     7210000.0
Name: __dummy__, dtype: float32
p-ratio 9           0.0
22          0.0
28     469903.0
43     186548.0
49          0.0
61     238454.0
70          0.0
74      30000.0
94     182599.0
99     316358.0
106         0.0
128      5964.0
132      6585.0
161         0.0
162    276164.0
187         0.0
200    200645.0
214    450720.0
217      9057.0
237         0.0
244    611216.0
250     67975.0
287     36840.0
305     97000.0
307         0.0
326         0.0
342    573657.0
352         0.0
384         0.0
395    301846.0
399     43047.0
405     37932.0
436         0.0
454     82101.0
459     25224.0
471    201906.0
485         0.0
513    384354.0
517         0.0
532         0.0
572    669620.0
579         0.0
589    229442.0
595       399.0
618    224613.0
633      7580.0
649      8694.0
662    547259.0
676    258188.0
682         0.0
699     53101.0
704    151581.0
712    368542.0
718    712067.0
736     80763.0
744      5000.0
801         0.0
871         0.0
899    575386.0
Name: __dummy__, dtype: float32
p-ratio 3      15194731.0
13      1134533.0
35       428037.0
38       296059.0
111      692963.0
119      654788.0
125      995153.0
151      175792.0
171     1916899.0
182      971061.0
197     5720093.0
205     1166873.0
255      368911.0
259       23635.0
274     2489663.0
281      121382.0
320      840097.0
335     1982284.0
363       58129.0
375     1749818.0
418      318608.0
423      227764.0
429      297089.0
467       67365.0
474      230639.0
486       36506.0
500     1561944.0
505     6139550.0
526      544329.0
549           0.0
608      699834.0
614      648864.0
643      848729.0
656           0.0
671    11103487.0
721     2550805.0
731       24450.0
761      588057.0
770       61000.0
785       80730.0
836      159385.0
862      167037.0
869     1461070.0
880      147852.0
893      259947.0
900      209038.0
909      812591.0
Name: __dummy__, dtype: float32
p-ratio 80        647000.0
86        243000.0
299       114885.0
341      7093319.0
358      6525913.0
370      1218000.0
409       476370.0
439       711000.0
555    173006000.0
558      3929100.0
565      9627000.0
582      7477000.0
601      8232000.0
636      1000000.0
688     23700000.0
740      1766000.0
750    186928992.0
762      2629000.0
777      1526802.0
795      1590000.0
810        70000.0
820      2878000.0
825      1511482.0
849      2233000.0
Name: __dummy__, dtype: float32
p-ratio 59     27452000.0
233    27439000.0
268     1602000.0
291      837000.0
313     1156000.0
545    44385000.0
805    26443000.0
887     4811000.0
Name: __dummy__, dtype: float32
p-ratio 382        0.0
497        0.0
626    36200.0
Name: __dummy__, dtype: float32
p-ratio 140           0.0
145    85300000.0
177    94700000.0
227           0.0
448           0.0
539     2004000.0
692           0.0
788           0.0
833    17425000.0
841     6221000.0
856           0.0
915      536000.0
Name: __dummy__, dtype: float32
p-ratio 7           0.0
20          0.0
29     352309.0
47     487529.0
52          0.0
63     168553.0
67          0.0
72      10000.0
91     282745.0
98     383960.0
104         0.0
131    250295.0
133      8136.0
156         0.0
165    311050.0
188     15000.0
199    356591.0
215    393918.0
221         0.0
238         0.0
243    645517.0
246     70018.0
285         0.0
302     54324.0
311         0.0
329         0.0
343    484697.0
351         0.0
389         0.0
391    129110.0
397     43880.0
406     27632.0
433         0.0
450         0.0
456     28634.0
472    230616.0
484         0.0
512    395461.0
521         0.0
530         0.0
575    561611.0
578         0.0
591    403477.0
594       198.0
621    297569.0
634      1494.0
651      1001.0
665    368991.0
675         0.0
680         0.0
700     44238.0
702    321888.0
711    332210.0
715         0.0
735    100736.0
746         0.0
799         0.0
872         0.0
896    295309.0
Name: __dummy__, dtype: float32
p-ratio 1      18768904.0
17      1324735.0
31       422035.0
39       300661.0
112      117965.0
116      620807.0
120     1293522.0
153      212640.0
173           NaN
181     1100724.0
196     5582594.0
209     1622675.0
253        6626.0
258      108212.0
272     2738544.0
278      103056.0
319      657960.0
334      959535.0
361        9176.0
373     1526627.0
414      304814.0
421      149042.0
431      303852.0
464       99751.0
478      538515.0
487       13542.0
502     1570092.0
507           NaN
523     1110421.0
547           0.0
610      744851.0
616     1087153.0
644      724352.0
658           0.0
670    12332877.0
723     1078046.0
730           0.0
760      473246.0
771       74468.0
781       71829.0
835      123359.0
863      107604.0
864           NaN
881      109061.0
890      242073.0
901      211339.0
911           NaN
Name: __dummy__, dtype: float32
p-ratio 83        138000.0
85             0.0
297       197839.0
340      4358596.0
359      6653000.0
371       945000.0
410       354558.0
442      1090000.0
552    176550000.0
559      3198039.0
568     11600000.0
583      5951000.0
600      8333000.0
638       100000.0
685     25392000.0
741      2343000.0
752    234218000.0
767      3767000.0
774      1238989.0
797      2123000.0
811        70000.0
817      3322000.0
826       885891.0
846      2818000.0
Name: __dummy__, dtype: float32
p-ratio 57     31447000.0
229    31459000.0
265     1333000.0
289     1166000.0
315     1333000.0
543    43780000.0
809    27304000.0
882     4944000.0
Name: __dummy__, dtype: float32
p-ratio 380        0.0
494        0.0
624    34200.0
Name: __dummy__, dtype: float32
p-ratio 138           0.0
146     8700000.0
179    89300000.0
222           0.0
449           0.0
538           NaN
690           NaN
787           NaN
832    18759000.0
845    16113000.0
852           0.0
913      695000.0
Name: __dummy__, dtype: float32
p-ratio 8           0.0
23      10872.0
24     295254.0
46     128341.0
48          0.0
62     204781.0
68          0.0
73          0.0
93     154354.0
96     321696.0
102         0.0
129     10979.0
134     14946.0
158         0.0
167    138351.0
186    106500.0
201    156770.0
212    316794.0
219     37000.0
234         0.0
241    541240.0
247     48127.0
286     22830.0
303     63426.0
310         0.0
328         0.0
344    951007.0
353         0.0
385         0.0
393    193999.0
396    106726.0
404     40051.0
434         0.0
453         0.0
460     30495.0
468    240659.0
481         0.0
514    438716.0
520         0.0
528         0.0
570    441466.0
577         0.0
593    317569.0
599       422.0
623    419269.0
630    616825.0
648    375787.0
660    590666.0
673         0.0
681         NaN
701     51135.0
707    215670.0
709    371943.0
717         0.0
732    208604.0
745    100000.0
802         0.0
873     10000.0
894    207917.0
Name: __dummy__, dtype: float32
p-ratio 2      21638036.0
14            NaN
32       389290.0
40       249662.0
113      142940.0
118           NaN
122           NaN
152           NaN
169           NaN
185     1246979.0
194     5605438.0
208     1701495.0
254           0.0
263      157020.0
273           NaN
276      109401.0
318           NaN
331           NaN
362        7605.0
372     1637083.0
417           NaN
424       62499.0
426      102994.0
462      100948.0
475           NaN
488       17980.0
503     1147292.0
509           NaN
525     2368799.0
546           0.0
609      599233.0
617           NaN
645      594114.0
659       15000.0
666    11057465.0
724           NaN
726           NaN
759      295968.0
773           NaN
784       81871.0
838           NaN
861           NaN
868           NaN
878       92916.0
888      236786.0
903      167765.0
908           NaN
Name: __dummy__, dtype: float32
p-ratio 79        203000.0
87         71000.0
296       150246.0
337      4326506.0
356      6407000.0
368       561000.0
412       433703.0
443       615000.0
554    165548000.0
563      3090412.0
564     11647000.0
584      6770000.0
604      7981000.0
641            NaN
689     26701000.0
738      2076000.0
754    249327008.0
763      3994000.0
779      1548244.0
792      1745000.0
815            0.0
819      2923000.0
823      3420589.0
850      2092000.0
Name: __dummy__, dtype: float32
p-ratio 56     33580000.0
228    31602000.0
264     1397000.0
288     2612000.0
316     1397000.0
542    43693000.0
808    26284000.0
886     5664000.0
Name: __dummy__, dtype: float32
p-ratio 0       9603182.0
1      18768904.0
2      21638036.0
3      15194731.0
4       7335103.0
          ...
913      695000.0
914     7210000.0
915      536000.0
916     8624000.0
917     7174000.0
Name: __dummy__, Length: 815, dtype: float32
p-ratio 4      7335103.0
69           0.0
82      586000.0
84       72000.0
103          0.0
         ...
884    8073000.0
891     253028.0
904     296621.0
910     566870.0
916    8624000.0
Name: __dummy__, Length: 83, dtype: float32
p-ratio 0      9603182.0
6        30000.0
16     1308251.0
27      257094.0
36      226700.0
         ...
892     293339.0
898     228914.0
905     253995.0
906     462461.0
912    6860000.0
Name: __dummy__, Length: 150, dtype: float32
p-ratio 5      11156805.0
10        45000.0
12      1216430.0
21            0.0
25       857674.0
          ...
889      313656.0
895      392323.0
902      262306.0
907      816456.0
917     7174000.0
Name: __dummy__, Length: 151, dtype: float32
p-ratio 3      15194731.0
9             0.0
13      1134533.0
22            0.0
28       469903.0
          ...
893      259947.0
899      575386.0
900      209038.0
909      812591.0
914     7210000.0
Name: __dummy__, Length: 153, dtype: float32
p-ratio 1      18768904.0
7             0.0
17      1324735.0
20            0.0
29       352309.0
          ...
882     4944000.0
890      242073.0
896      295309.0
901      211339.0
915      536000.0
Name: __dummy__, Length: 149, dtype: float32
p-ratio 2      21638036.0
8             0.0
23        10872.0
24       295254.0
32       389290.0
          ...
886     5664000.0
888      236786.0
894      207917.0
903      167765.0
913      695000.0
Name: __dummy__, Length: 129, dtype: float32
p-ratio 378        0.0
379        0.0
380        0.0
381        0.0
382        0.0
383        0.0
492        0.0
493        0.0
494        0.0
495        0.0
497        0.0
624    34200.0
625    47690.0
626    36200.0
627    38200.0
628    44700.0
629    42700.0
Name: __dummy__, dtype: float32
p-ratio 138          0.0
139     200000.0
140          0.0
141     460000.0
142      93000.0
         ...
913     695000.0
914    7210000.0
915     536000.0
916    8624000.0
917    7174000.0
Name: __dummy__, Length: 69, dtype: float32
p-ratio 6       30000.0
7           0.0
8           0.0
9           0.0
10      45000.0
         ...
894    207917.0
895    392323.0
896    295309.0
898    228914.0
899    575386.0
Name: __dummy__, Length: 298, dtype: float32
p-ratio 0       9603182.0
1      18768904.0
2      21638036.0
3      15194731.0
4       7335103.0
          ...
905      253995.0
906      462461.0
907      816456.0
909      812591.0
910      566870.0
Name: __dummy__, Length: 248, dtype: float32
p-ratio 78      550000.0
79      203000.0
80      647000.0
81      619000.0
82      586000.0
         ...
847    4548000.0
848    4072000.0
849    2233000.0
850    2092000.0
851    2811000.0
Name: __dummy__, Length: 139, dtype: float32

ValueError: An error occurred with the following details:
 Name: p-ratio
 Mask:            agg_p_percent                                           \
grant_type             G                           N            R
survivor    Dead in 2015 Alive in 2015 Alive in 2015 Dead in 2015
year
2010                True         False          True        False
2011                True         False         False        False
2012                True         False         False        False
2013                True         False         False        False
2014                True         False         False        False
2015                True         False         False        False
All                False         False         False        False


grant_type                         R/G    All
survivor   Alive in 2015 Alive in 2015
year
2010               False          True  False
2011               False         False  False
2012               False         False  False
2013               False         False  False
2014               False         False  False
2015               False         False  False
All                False         False  False
 Table: grant_type            G                          N                          R  \
survivor   Dead in 2015 Alive in 2015 Dead in 2015 Alive in 2015 Dead in 2015
year
2010                  2            12          0.0             5           40
2011                  3            12          0.0            58           45
2012                  3            12          0.0            59           45
2013                  3            12          0.0            59           47
2014                  3            12          0.0            59           43
2015                  3             9          0.0            58           28
All                  17            69          NaN           298          248

grant_type                        R/G                All
survivor   Alive in 2015 Dead in 2015 Alive in 2015
year
2010                  20          0.0             4   83
2011                  24          0.0             8  150
2012                  24          0.0             8  151
2013                  24          0.0             8  153
2014                  24          0.0             8  149
2015                  23          0.0             8  129
All                  139          NaN            44  815

In [11]:
acro.suppress = False

### ACRO crosstab with aggregation function

In [12]:
safe_table = acro.crosstab(df.year, df.grant_type, values=df.inc_grants, aggfunc="mean")
safe_table

INFO:acro:get_summary(): fail; threshold: 6 cells may need suppressing; p-ratio: 2 cells may need suppressing; nk-rule: 1 cells may need suppressing;
INFO:acro:outcome_df:
----------------------------------------------------------------|
grant_type |G   |N          |R   |R/G                           |
year       |    |           |    |                              |
----------------------------------------------------------------|
2010       | ok | p-ratio;  | ok | threshold; p-ratio; nk-rule; |
2011       | ok |        ok | ok |                   threshold; |
2012       | ok |        ok | ok |                   threshold; |
2013       | ok |        ok | ok |                   threshold; |
2014       | ok |        ok | ok |                   threshold; |
2015       | ok |        ok | ok |                   threshold; |
----------------------------------------------------------------|

INFO:acro:records:add(): output_4

grant_type           G              N           R         R/G
year
2010         9921906.0       0.000000   8402284.0  11636000.0
2011         8502247.0  124013.859375   7716880.0  16047500.0
2012        11458580.0  131859.062500   6958050.5  16810000.0
2013        13557147.0  147937.796875   7202273.5  16765625.0
2014        13748147.0  133198.250000   8277525.5  17845750.0
2015        11133433.0  146572.187500  10812888.0  18278624.0

### ACRO crosstab with multiple aggregation functions and totals

In [13]:
safe_table = acro.crosstab(
    df.year, df.grant_type, values=df.inc_grants, aggfunc=["mean", "std"], margins=True
)
safe_table

INFO:acro:get_summary(): fail; threshold: 12 cells may need suppressing; p-ratio: 4 cells may need suppressing; nk-rule: 2 cells may need suppressing;
INFO:acro:outcome_df:
------------------------------------------------------------------------------------------------------------------------|
           mean                                                   |std                                                  |
grant_type G    N          R   R/G                            All |G   N          R   R/G                            All|
year                                                              |                                                     |
------------------------------------------------------------------------------------------------------------------------|
2010        ok   p-ratio;   ok  threshold; p-ratio; nk-rule;   ok | ok  p-ratio;   ok  threshold; p-ratio; nk-rule;   ok|
2011        ok          ok  ok                    threshold;   ok | ok         ok  ok                    threshold;   ok|
2012        ok          ok  ok                    threshold;   ok | ok         ok  ok                    threshold;   ok|
2013        ok          ok  ok                    threshold;   ok | ok         ok  ok                    threshold;   ok|
2014        ok          ok  ok                    threshold;   ok | ok         ok  ok                    threshold;   ok|
2015        ok          ok  ok                    threshold;   ok | ok         ok  ok                    threshold;   ok|
All         ok          ok  ok                             ok  ok | ok         ok  ok                             ok  ok|
------------------------------------------------------------------------------------------------------------------------|

INFO:acro:records:add(): output_5

                  mean                                                    \
grant_type           G              N           R         R/G        All
year
2010         9921906.0       0.000000   8402284.0  11636000.0  8308286.0
2011         8502247.0  124013.859375   7716880.0  16047500.0  5303808.0
2012        11458580.0  131859.062500   6958050.5  16810000.0  5259893.0
2013        13557147.0  147937.796875   7202273.5  16765625.0  5605045.5
2014        13748147.0  133198.250000   8277525.5  17845750.0  6117054.5
2015        11133433.0  146572.187500  10812888.0  18278624.0  6509989.5
All         11412787.0  134431.890625   8098502.0  16648273.0  5997796.5

                     std                                             \
grant_type             G              N             R           R/G
year
2010        1.855055e+07       0.000000  3.059557e+07  1.701088e+07
2011        1.688595e+07  205959.492903  2.954322e+07  1.561638e+07
2012        2.061090e+07  210476.539175  2.721184e+07  1.646449e+07
2013        2.486844e+07  203747.417017  2.989833e+07  1.671112e+07
2014        3.134559e+07  181865.925580  3.546348e+07  1.741251e+07
2015        2.553919e+07  201602.800832  4.130935e+07  1.730471e+07
All         2.283220e+07  198873.726656  3.204495e+07  1.583532e+07


grant_type           All
year
2010        2.727398e+07
2011        2.137658e+07
2012        2.026400e+07
2013        2.251787e+07
2014        2.641722e+07
2015        2.784636e+07
All         2.405324e+07

### ACRO crosstab with missing values

In [12]:
acro_tables.CHECK_MISSING_VALUES = True

missing = df.inc_grants.copy()
missing[0:10] = np.NaN

safe_table = acro.crosstab(
    df.year, df.grant_type, values=missing, aggfunc="mean", margins=True
)
safe_table

INFO:acro:get_summary(): review; missing values found
INFO:acro:outcome_df:
-------------------------------------------------------|
grant_type |G        |N        |R        |R/G      |All|
year       |         |         |         |         |   |
-------------------------------------------------------|
2010       | missing | missing | missing | missing |   |
2011       |         | missing | missing |         |   |
2012       |         |         | missing |         |   |
2013       |         | missing | missing |         |   |
2014       |         | missing | missing |         |   |
2015       | missing | missing | missing |         |   |
All        |         |         |         |         |   |
-------------------------------------------------------|

INFO:acro:records:add(): output_4

grant_type           G              N           R         R/G        All
year
2010         9921906.0       0.000000   8420372.0  11636000.0  8320154.5
2011         8502247.0  125663.226562   7689140.5  16047500.0  5310392.0
2012        11458580.0  131859.062500   6896304.0  16810000.0  5220580.5
2013        13557147.0  150488.453125   7088096.0  16765625.0  5578657.0
2014        13748147.0  135494.781250   8118565.0  17845750.0  6072600.0
2015        11133433.0  149143.625000  10596385.0  18278624.0  6442131.0
All         11412787.0  136158.859375   8006360.5  16648273.0  5968295.5

In [13]:
utils.CHECK_MISSING_VALUES = False

### ACRO crosstab with negative values

In [14]:
negative = df.inc_grants.copy()
negative[0:10] = -10

safe_table = acro.crosstab(df.year, df.grant_type, values=negative, aggfunc="mean")
safe_table

INFO:acro:get_summary(): review; negative values found
INFO:acro:outcome_df:
----------------------------------------|
grant_type |G |N         |R         |R/G|
year       |  |          |          |   |
----------------------------------------|
2010       |  |          | negative |   |
2011       |  | negative | negative |   |
2012       |  |          | negative |   |
2013       |  | negative | negative |   |
2014       |  | negative | negative |   |
2015       |  | negative | negative |   |
----------------------------------------|

INFO:acro:records:add(): output_5

grant_type           G              N           R         R/G
year
2010         9921906.0       0.000000   8280032.5  11636000.0
2011         8502247.0  123496.445312   7577703.5  16047500.0
2012        11458580.0  131859.062500   6796357.5  16810000.0
2013        13557147.0  147937.625000   6988263.5  16765625.0
2014        13748147.0  133198.078125   7997392.5  17845750.0
2015        11133433.0  146572.015625  10388613.0  18278624.0

### ACRO pivot_table

In [15]:
table = acro.pivot_table(
    df, index=["grant_type"], values=["inc_grants"], aggfunc=["mean", "std"]
)
table

INFO:acro:get_summary(): review; missing values found
INFO:acro:outcome_df:
---------------------------------|
           mean       |std       |
           inc_grants |inc_grants|
grant_type            |          |
---------------------------------|
G           missing   | missing  |
N           missing   | missing  |
R           missing   | missing  |
R/G         missing   | missing  |
---------------------------------|

INFO:acro:records:add(): output_6

                    mean           std
              inc_grants    inc_grants
grant_type
G           1.141279e+07  2.283220e+07
N           1.344319e+05  1.988737e+05
R           8.098502e+06  3.204495e+07
R/G         1.664827e+07  1.583532e+07

### ACRO pivot_table with missing values

In [16]:
utils.CHECK_MISSING_VALUES = True

df.loc[0:10, "inc_grants"] = np.NaN

table = acro.pivot_table(
    df, index=["grant_type"], values=["inc_grants"], aggfunc=["mean", "std"]
)
table

INFO:acro:get_summary(): review; missing values found
INFO:acro:outcome_df:
---------------------------------|
           mean       |std       |
           inc_grants |inc_grants|
grant_type            |          |
---------------------------------|
G           missing   | missing  |
N           missing   | missing  |
R           missing   | missing  |
R/G         missing   | missing  |
---------------------------------|

INFO:acro:records:add(): output_7

                    mean           std
              inc_grants    inc_grants
grant_type
G           1.141279e+07  2.283220e+07
N           1.364700e+05  1.999335e+05
R           8.006360e+06  3.228216e+07
R/G         1.664827e+07  1.583532e+07

In [17]:
utils.CHECK_MISSING_VALUES = False

### ACRO pivot_table with negative values

In [18]:
df.loc[0:10, "inc_grants"] = -10

table = acro.pivot_table(
    df, index=["grant_type"], values=["inc_grants"], aggfunc=["mean", "std"]
)
table

INFO:acro:get_summary(): review; negative values found
INFO:acro:outcome_df:
---------------------------------|
           mean       |std       |
           inc_grants |inc_grants|
grant_type            |          |
---------------------------------|
G                     |          |
N           negative  | negative |
R           negative  | negative |
R/G                   |          |
---------------------------------|

INFO:acro:records:add(): output_8

                    mean           std
              inc_grants    inc_grants
grant_type
G           1.141279e+07  2.283220e+07
N           1.341800e+05  1.990196e+05
R           7.882231e+06  3.204558e+07
R/G         1.664827e+07  1.583532e+07

### ACRO OLS

In [19]:
new_df = df[["inc_activity", "inc_grants", "inc_donations", "total_costs"]]
new_df = new_df.dropna()

y = new_df["inc_activity"]
x = new_df[["inc_grants", "inc_donations", "total_costs"]]
x = add_constant(x)

results = acro.ols(y, x)
results.summary()

INFO:acro:ols() outcome: pass; dof=807.0 >= 10

INFO:acro:records:add(): output_9

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           inc_activity   R-squared:                       0.894
Model:                            OLS   Adj. R-squared:                  0.893
Method:                 Least Squares   F-statistic:                     2261.
Date:                Tue, 26 Sep 2023   Prob (F-statistic):               0.00
Time:                        16:44:14   Log-Likelihood:                -14495.
No. Observations:                 811   AIC:                         2.900e+04
Df Residuals:                     807   BIC:                         2.902e+04
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           3.01e+05   5.33e+05      0.565      0.572   -7.45e+05    1.35e+06
inc_grants       -0.8846      0.025    -35.956      0.000      -0.933      -0.836
inc_donations    -0.6647      0.016    -40.721      0.000      -0.697      -0.633
total_costs       0.8313      0.011     78.674      0.000       0.811       0.852
==============================================================================
Omnibus:                     1339.956   Durbin-Watson:                   1.414
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1253317.706
Skew:                           9.899   Prob(JB):                         0.00
Kurtosis:                     194.566   Cond. No.                     1.05e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.05e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### ACRO OLSR

In [20]:
results = acro.olsr(
    formula="inc_activity ~ inc_grants + inc_donations + total_costs", data=new_df
)
results.summary()

INFO:acro:olsr() outcome: pass; dof=807.0 >= 10

INFO:acro:records:add(): output_10

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           inc_activity   R-squared:                       0.894
Model:                            OLS   Adj. R-squared:                  0.893
Method:                 Least Squares   F-statistic:                     2261.
Date:                Tue, 26 Sep 2023   Prob (F-statistic):               0.00
Time:                        16:44:14   Log-Likelihood:                -14495.
No. Observations:                 811   AIC:                         2.900e+04
Df Residuals:                     807   BIC:                         2.902e+04
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept       3.01e+05   5.33e+05      0.565      0.572   -7.45e+05    1.35e+06
inc_grants       -0.8846      0.025    -35.956      0.000      -0.933      -0.836
inc_donations    -0.6647      0.016    -40.721      0.000      -0.697      -0.633
total_costs       0.8313      0.011     78.674      0.000       0.811       0.852
==============================================================================
Omnibus:                     1339.956   Durbin-Watson:                   1.414
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1253317.706
Skew:                           9.899   Prob(JB):                         0.00
Kurtosis:                     194.566   Cond. No.                     1.05e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.05e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### ACRO Probit

In [21]:
new_df = df[["survivor", "inc_activity", "inc_grants", "inc_donations", "total_costs"]]
new_df = new_df.dropna()

y = new_df["survivor"].astype("category").cat.codes  # numeric
y.name = "survivor"
x = new_df[["inc_activity", "inc_grants", "inc_donations", "total_costs"]]
x = add_constant(x)

results = acro.probit(y, x)
results.summary()

INFO:acro:probit() outcome: pass; dof=806.0 >= 10
INFO:acro:records:add(): output_11

Optimization terminated successfully.
         Current function value: 0.493791
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                          Probit Regression Results
==============================================================================
Dep. Variable:               survivor   No. Observations:                  811
Model:                         Probit   Df Residuals:                      806
Method:                           MLE   Df Model:                            4
Date:                Tue, 26 Sep 2023   Pseudo R-squ.:                  0.2140
Time:                        16:44:15   Log-Likelihood:                -400.46
converged:                       True   LL-Null:                       -509.50
Covariance Type:            nonrobust   LLR p-value:                 4.875e-46
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const             0.0474      0.057      0.838      0.402      -0.063       0.158
inc_activity   1.836e-07   5.16e-08      3.559      0.000    8.25e-08    2.85e-07
inc_grants     8.576e-08    3.9e-08      2.197      0.028    9.25e-09    1.62e-07
inc_donations  2.406e-07   4.54e-08      5.297      0.000    1.52e-07     3.3e-07
total_costs   -8.644e-08   3.68e-08     -2.351      0.019   -1.59e-07   -1.44e-08
=================================================================================

Possibly complete quasi-separation: A fraction 0.18 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

### ACRO Logit

In [22]:
results = acro.logit(y, x)
results.summary()

INFO:acro:logit() outcome: pass; dof=806.0 >= 10
INFO:acro:records:add(): output_12

Optimization terminated successfully.
         Current function value: 0.490836
         Iterations 12

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survivor   No. Observations:                  811
Model:                          Logit   Df Residuals:                      806
Method:                           MLE   Df Model:                            4
Date:                Tue, 26 Sep 2023   Pseudo R-squ.:                  0.2187
Time:                        16:44:15   Log-Likelihood:                -398.07
converged:                       True   LL-Null:                       -509.50
Covariance Type:            nonrobust   LLR p-value:                 4.532e-47
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const             0.0512      0.091      0.561      0.575      -0.128       0.230
inc_activity   2.981e-07   8.95e-08      3.330      0.001    1.23e-07    4.74e-07
inc_grants     1.351e-07   6.67e-08      2.026      0.043    4.39e-09    2.66e-07
inc_donations  5.123e-07   1.04e-07      4.927      0.000    3.08e-07    7.16e-07
total_costs   -1.442e-07   6.26e-08     -2.304      0.021   -2.67e-07   -2.15e-08
=================================================================================

Possibly complete quasi-separation: A fraction 0.18 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

### List current ACRO outputs

In [23]:
results_str = acro.print_outputs()

uid: output_0
status: fail
type: table
properties: {'method': 'crosstab'}
sdc: {'summary': {'suppressed': False, 'negative': 0, 'missing': 0, 'threshold': 6, 'p-ratio': 0, 'nk-rule': 0}, 'cells': {'negative': [], 'missing': [], 'threshold': [[0, 3], [1, 3], [2, 3], [3, 3], [4, 3], [5, 3]], 'p-ratio': [], 'nk-rule': []}}
command: safe_table = acro.crosstab(df.year, df.grant_type)
summary: fail; threshold: 6 cells may need suppressing;
outcome: grant_type   G   N   R          R/G
year
2010        ok  ok  ok  threshold;
2011        ok  ok  ok  threshold;
2012        ok  ok  ok  threshold;
2013        ok  ok  ok  threshold;
2014        ok  ok  ok  threshold;
2015        ok  ok  ok  threshold;
output: [grant_type   G   N   R  R/G
year
2010        15  59  71    8
2011        15  59  71    8
2012        15  59  71    8
2013        15  59  71    8
2014        15  59  71    8
2015        15  59  71    8]
timestamp: 2023-09-26T16:43:37.007348
comments: []
exception:

uid: output_1
status: fail
type: table
properties: {'method': 'crosstab'}
sdc: {'summary': {'suppressed': True, 'negative': 0, 'missing': 0, 'threshold': 7, 'p-ratio': 2, 'nk-rule': 1}, 'cells': {'negative': [], 'missing': [], 'threshold': [[0, 1], [0, 3], [1, 3], [2, 3], [3, 3], [4, 3], [5, 3]], 'p-ratio': [[0, 1], [0, 3]], 'nk-rule': [[0, 3]]}}
command: safe_table = acro.crosstab(df.year, df.grant_type, values=df.inc_grants, aggfunc="mean")
summary: fail; threshold: 7 cells suppressed; p-ratio: 2 cells suppressed; nk-rule: 1 cells suppressed;
outcome: grant_type   G                     N   R                            R/G
year
2010        ok  threshold; p-ratio;   ok  threshold; p-ratio; nk-rule;
2011        ok                    ok  ok                    threshold;
2012        ok                    ok  ok                    threshold;
2013        ok                    ok  ok                    threshold;
2014        ok                    ok  ok                    threshold;
2015        ok                    ok  ok                    threshold;
output: [grant_type           G              N           R  R/G
year
2010         9921906.0            NaN   8402284.0  NaN
2011         8502247.0  124013.859375   7716880.0  NaN
2012        11458580.0  131859.062500   6958050.5  NaN
2013        13557147.0  147937.796875   7202273.5  NaN
2014        13748147.0  133198.250000   8277525.5  NaN
2015        11133433.0  146572.187500  10812888.0  NaN]
timestamp: 2023-09-26T16:43:37.137368
comments: []
exception:

uid: output_2
status: fail
type: table
properties: {'method': 'crosstab'}
sdc: {'summary': {'suppressed': True, 'negative': 0, 'missing': 0, 'threshold': 14, 'p-ratio': 8, 'nk-rule': 7}, 'cells': {'negative': [], 'missing': [], 'threshold': [[0, 0], [0, 2], [0, 5], [1, 0], [1, 5], [2, 0], [2, 5], [3, 0], [3, 5], [4, 0], [4, 5], [5, 0], [5, 1], [5, 5]], 'p-ratio': [[0, 0], [0, 2], [0, 5], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0]], 'nk-rule': [[0, 0], [0, 5], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0]]}}
command: table = acro.crosstab(
summary: fail; threshold: 14 cells suppressed; p-ratio: 8 cells suppressed; nk-rule: 7 cells suppressed;
outcome: grant_type                              G                                   N  \
survivor                     Dead in 2015 Alive in 2015         Alive in 2015
year
2010        threshold; p-ratio; nk-rule;             ok  threshold; p-ratio;
2011        threshold; p-ratio; nk-rule;             ok                    ok
2012        threshold; p-ratio; nk-rule;             ok                    ok
2013        threshold; p-ratio; nk-rule;             ok                    ok
2014        threshold; p-ratio; nk-rule;             ok                    ok
2015        threshold; p-ratio; nk-rule;    threshold;                     ok
All                                    ok            ok                    ok

grant_type            R                                          R/G All
survivor   Dead in 2015 Alive in 2015                  Alive in 2015
year
2010                 ok            ok  threshold; p-ratio; nk-rule;   ok
2011                 ok            ok                    threshold;   ok
2012                 ok            ok                    threshold;   ok
2013                 ok            ok                    threshold;   ok
2014                 ok            ok                    threshold;   ok
2015                 ok            ok                    threshold;   ok
All                  ok            ok                             ok  ok
output: [grant_type             G              N            R                      All
survivor   Alive in 2015  Alive in 2015 Dead in 2015 Alive in 2015
year
2010          11571583.0            NaN  1385162.500    22436528.0  8930501.0
2011          10624083.0  124013.859375  1380839.250    19596956.0  4799615.5
2012          14319667.0  131859.062500  1354274.750    17465130.0  4712294.0
2013          16943250.0  147937.796875  1409097.250    18547244.0  5094428.0
2014          17182166.0  133198.250000  1370867.125    20651954.0  5569847.0
2015                 NaN  146572.187500  1779520.625    21810030.0  5137233.5
All           14128150.0  136725.953125  1425355.125    20004548.0  5434959.5]
timestamp: 2023-09-26T16:43:37.469934
comments: []
exception:

uid: output_3
status: fail
type: table
properties: {'method': 'crosstab'}
sdc: {'summary': {'suppressed': False, 'negative': 0, 'missing': 0, 'threshold': 7, 'p-ratio': 2, 'nk-rule': 1}, 'cells': {'negative': [], 'missing': [], 'threshold': [[0, 1], [0, 3], [1, 3], [2, 3], [3, 3], [4, 3], [5, 3]], 'p-ratio': [[0, 1], [0, 3]], 'nk-rule': [[0, 3]]}}
command: safe_table = acro.crosstab(df.year, df.grant_type, values=df.inc_grants, aggfunc="mean")
summary: fail; threshold: 7 cells may need suppressing; p-ratio: 2 cells may need suppressing; nk-rule: 1 cells may need suppressing;
outcome: grant_type   G                     N   R                            R/G
year
2010        ok  threshold; p-ratio;   ok  threshold; p-ratio; nk-rule;
2011        ok                    ok  ok                    threshold;
2012        ok                    ok  ok                    threshold;
2013        ok                    ok  ok                    threshold;
2014        ok                    ok  ok                    threshold;
2015        ok                    ok  ok                    threshold;
output: [grant_type           G              N           R         R/G
year
2010         9921906.0       0.000000   8402284.0  11636000.0
2011         8502247.0  124013.859375   7716880.0  16047500.0
2012        11458580.0  131859.062500   6958050.5  16810000.0
2013        13557147.0  147937.796875   7202273.5  16765625.0
2014        13748147.0  133198.250000   8277525.5  17845750.0
2015        11133433.0  146572.187500  10812888.0  18278624.0]
timestamp: 2023-09-26T16:43:37.654102
comments: []
exception:

uid: output_4
status: review
type: table
properties: {'method': 'crosstab'}
sdc: {'summary': {'suppressed': False, 'negative': 0, 'missing': 14, 'threshold': 7, 'p-ratio': 2, 'nk-rule': 1}, 'cells': {'negative': [], 'missing': [[0, 0], [0, 1], [0, 2], [0, 3], [1, 1], [1, 2], [2, 2], [3, 1], [3, 2], [4, 1], [4, 2], [5, 0], [5, 1], [5, 2]], 'threshold': [[0, 1], [0, 3], [1, 3], [2, 3], [3, 3], [4, 3], [5, 3]], 'p-ratio': [[0, 1], [0, 3]], 'nk-rule': [[0, 3]]}}
command: safe_table = acro.crosstab(
summary: review; missing values found
outcome: grant_type        G        N        R      R/G All
year
2010        missing  missing  missing  missing
2011                 missing  missing
2012                          missing
2013                 missing  missing
2014                 missing  missing
2015        missing  missing  missing
All
output: [grant_type           G              N           R         R/G        All
year
2010         9921906.0       0.000000   8420372.0  11636000.0  8320154.5
2011         8502247.0  125663.226562   7689140.5  16047500.0  5310392.0
2012        11458580.0  131859.062500   6896304.0  16810000.0  5220580.5
2013        13557147.0  150488.453125   7088096.0  16765625.0  5578657.0
2014        13748147.0  135494.781250   8118565.0  17845750.0  6072600.0
2015        11133433.0  149143.625000  10596385.0  18278624.0  6442131.0
All         11412787.0  136158.859375   8006360.5  16648273.0  5968295.5]
timestamp: 2023-09-26T16:44:04.817429
comments: []
exception:

uid: output_5
status: review
type: table
properties: {'method': 'crosstab'}
sdc: {'summary': {'suppressed': False, 'negative': 10, 'missing': 11, 'threshold': 7, 'p-ratio': 2, 'nk-rule': 1}, 'cells': {'negative': [[0, 2], [1, 1], [1, 2], [2, 2], [3, 1], [3, 2], [4, 1], [4, 2], [5, 1], [5, 2]], 'missing': [[0, 0], [0, 1], [0, 2], [0, 3], [1, 1], [1, 2], [2, 2], [4, 2], [5, 0], [5, 1], [5, 2]], 'threshold': [[0, 1], [0, 3], [1, 3], [2, 3], [3, 3], [4, 3], [5, 3]], 'p-ratio': [[0, 1], [0, 3]], 'nk-rule': [[0, 3]]}}
command: safe_table = acro.crosstab(df.year, df.grant_type, values=negative, aggfunc="mean")
summary: review; negative values found
outcome: grant_type G         N         R R/G
year
2010                    negative
2011          negative  negative
2012                    negative
2013          negative  negative
2014          negative  negative
2015          negative  negative
output: [grant_type           G              N           R         R/G
year
2010         9921906.0       0.000000   8280032.5  11636000.0
2011         8502247.0  123496.445312   7577703.5  16047500.0
2012        11458580.0  131859.062500   6796357.5  16810000.0
2013        13557147.0  147937.625000   6988263.5  16765625.0
2014        13748147.0  133198.078125   7997392.5  17845750.0
2015        11133433.0  146572.015625  10388613.0  18278624.0]
timestamp: 2023-09-26T16:44:14.222443
comments: []
exception:

uid: output_6
status: review
type: table
properties: {'method': 'pivot_table'}
sdc: {'summary': {'suppressed': False, 'negative': 0, 'missing': 8, 'threshold': 0, 'p-ratio': 0, 'nk-rule': 0}, 'cells': {'negative': [], 'missing': [[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1]], 'threshold': [], 'p-ratio': [], 'nk-rule': []}}
command: table = acro.pivot_table(
summary: review; missing values found
outcome:                  mean        std
           inc_grants inc_grants
grant_type
G             missing    missing
N             missing    missing
R             missing    missing
R/G           missing    missing
output: [                    mean           std
              inc_grants    inc_grants
grant_type
G           1.141279e+07  2.283220e+07
N           1.344319e+05  1.988737e+05
R           8.098502e+06  3.204495e+07
R/G         1.664827e+07  1.583532e+07]
timestamp: 2023-09-26T16:44:14.374409
comments: []
exception:

uid: output_7
status: review
type: table
properties: {'method': 'pivot_table'}
sdc: {'summary': {'suppressed': False, 'negative': 0, 'missing': 8, 'threshold': 0, 'p-ratio': 0, 'nk-rule': 0}, 'cells': {'negative': [], 'missing': [[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1]], 'threshold': [], 'p-ratio': [], 'nk-rule': []}}
command: table = acro.pivot_table(
summary: review; missing values found
outcome:                  mean        std
           inc_grants inc_grants
grant_type
G             missing    missing
N             missing    missing
R             missing    missing
R/G           missing    missing
output: [                    mean           std
              inc_grants    inc_grants
grant_type
G           1.141279e+07  2.283220e+07
N           1.364700e+05  1.999335e+05
R           8.006360e+06  3.228216e+07
R/G         1.664827e+07  1.583532e+07]
timestamp: 2023-09-26T16:44:14.514747
comments: []
exception:

uid: output_8
status: review
type: table
properties: {'method': 'pivot_table'}
sdc: {'summary': {'suppressed': False, 'negative': 4, 'missing': 8, 'threshold': 0, 'p-ratio': 0, 'nk-rule': 0}, 'cells': {'negative': [[1, 0], [1, 1], [2, 0], [2, 1]], 'missing': [[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1]], 'threshold': [], 'p-ratio': [], 'nk-rule': []}}
command: table = acro.pivot_table(
summary: review; negative values found
outcome:                  mean        std
           inc_grants inc_grants
grant_type
G
N            negative   negative
R            negative   negative
R/G
output: [                    mean           std
              inc_grants    inc_grants
grant_type
G           1.141279e+07  2.283220e+07
N           1.341800e+05  1.990196e+05
R           7.882231e+06  3.204558e+07
R/G         1.664827e+07  1.583532e+07]
timestamp: 2023-09-26T16:44:14.676251
comments: []
exception:

uid: output_9
status: pass
type: regression
properties: {'method': 'ols', 'dof': 807.0}
sdc: {}
command: results = acro.ols(y, x)
summary: pass; dof=807.0 >= 10
outcome: Empty DataFrame
Columns: []
Index: []
output: [                       inc_activity           R-squared:      0.894
Dep. Variable:
Model:                          OLS      Adj. R-squared:      0.893
Method:               Least Squares         F-statistic:   2261.000
Date:              Tue, 26 Sep 2023  Prob (F-statistic):      0.000
Time:                      16:44:14      Log-Likelihood: -14495.000
No. Observations:               811                 AIC:  29000.000
Df Residuals:                   807                 BIC:  29020.000
Df Model:                         3                  NaN        NaN
Covariance Type:          nonrobust                  NaN        NaN,                       coef     std err       t  P>|t|      [0.025       0.975]
const          301000.0000  533000.000   0.565  0.572 -745000.000  1350000.000
inc_grants         -0.8846       0.025 -35.956  0.000      -0.933       -0.836
inc_donations      -0.6647       0.016 -40.721  0.000      -0.697       -0.633
total_costs         0.8313       0.011  78.674  0.000       0.811        0.852,                 1339.956     Durbin-Watson:         1.414
Omnibus:
Prob(Omnibus):     0.000  Jarque-Bera (JB):  1.253318e+06
Skew:              9.899          Prob(JB):  0.000000e+00
Kurtosis:        194.566          Cond. No.  1.050000e+08]
timestamp: 2023-09-26T16:44:14.841394
comments: []
exception:

uid: output_10
status: pass
type: regression
properties: {'method': 'olsr', 'dof': 807.0}
sdc: {}
command: results = acro.olsr(
summary: pass; dof=807.0 >= 10
outcome: Empty DataFrame
Columns: []
Index: []
output: [                       inc_activity           R-squared:      0.894
Dep. Variable:
Model:                          OLS      Adj. R-squared:      0.893
Method:               Least Squares         F-statistic:   2261.000
Date:              Tue, 26 Sep 2023  Prob (F-statistic):      0.000
Time:                      16:44:14      Log-Likelihood: -14495.000
No. Observations:               811                 AIC:  29000.000
Df Residuals:                   807                 BIC:  29020.000
Df Model:                         3                  NaN        NaN
Covariance Type:          nonrobust                  NaN        NaN,                       coef     std err       t  P>|t|      [0.025       0.975]
Intercept      301000.0000  533000.000   0.565  0.572 -745000.000  1350000.000
inc_grants         -0.8846       0.025 -35.956  0.000      -0.933       -0.836
inc_donations      -0.6647       0.016 -40.721  0.000      -0.697       -0.633
total_costs         0.8313       0.011  78.674  0.000       0.811        0.852,                 1339.956     Durbin-Watson:         1.414
Omnibus:
Prob(Omnibus):     0.000  Jarque-Bera (JB):  1.253318e+06
Skew:              9.899          Prob(JB):  0.000000e+00
Kurtosis:        194.566          Cond. No.  1.050000e+08]
timestamp: 2023-09-26T16:44:14.939403
comments: []
exception:

uid: output_11
status: pass
type: regression
properties: {'method': 'probit', 'dof': 806.0}
sdc: {}
command: results = acro.probit(y, x)
summary: pass; dof=806.0 >= 10
outcome: Empty DataFrame
Columns: []
Index: []
output: [                          survivor No. Observations:           811
Dep. Variable:
Model:                      Probit     Df Residuals:  8.060000e+02
Method:                        MLE         Df Model:  4.000000e+00
Date:             Tue, 26 Sep 2023    Pseudo R-squ.:  2.140000e-01
Time:                     16:44:15   Log-Likelihood: -4.004600e+02
converged:                    True          LL-Null: -5.095000e+02
Covariance Type:         nonrobust      LLR p-value:  4.875000e-46,                        coef       std err      z  P>|z|        [0.025  \
const          4.740000e-02  5.700000e-02  0.838  0.402 -6.300000e-02
inc_activity   1.836000e-07  5.160000e-08  3.559  0.000  8.250000e-08
inc_grants     8.576000e-08  3.900000e-08  2.197  0.028  9.250000e-09
inc_donations  2.406000e-07  4.540000e-08  5.297  0.000  1.520000e-07
total_costs   -8.644000e-08  3.680000e-08 -2.351  0.019 -1.590000e-07

                     0.975]
const          1.580000e-01
inc_activity   2.850000e-07
inc_grants     1.620000e-07
inc_donations  3.300000e-07
total_costs   -1.440000e-08  ]
timestamp: 2023-09-26T16:44:15.025370
comments: []
exception:

uid: output_12
status: pass
type: regression
properties: {'method': 'logit', 'dof': 806.0}
sdc: {}
command: results = acro.logit(y, x)
summary: pass; dof=806.0 >= 10
outcome: Empty DataFrame
Columns: []
Index: []
output: [                          survivor No. Observations:           811
Dep. Variable:
Model:                       Logit     Df Residuals:  8.060000e+02
Method:                        MLE         Df Model:  4.000000e+00
Date:             Tue, 26 Sep 2023    Pseudo R-squ.:  2.187000e-01
Time:                     16:44:15   Log-Likelihood: -3.980700e+02
converged:                    True          LL-Null: -5.095000e+02
Covariance Type:         nonrobust      LLR p-value:  4.532000e-47,                        coef       std err      z  P>|z|        [0.025  \
const          5.120000e-02  9.100000e-02  0.561  0.575 -1.280000e-01
inc_activity   2.981000e-07  8.950000e-08  3.330  0.001  1.230000e-07
inc_grants     1.351000e-07  6.670000e-08  2.026  0.043  4.390000e-09
inc_donations  5.123000e-07  1.040000e-07  4.927  0.000  3.080000e-07
total_costs   -1.442000e-07  6.260000e-08 -2.304  0.021 -2.670000e-07

                     0.975]
const          2.300000e-01
inc_activity   4.740000e-07
inc_grants     2.660000e-07
inc_donations  7.160000e-07
total_costs   -2.150000e-08  ]
timestamp: 2023-09-26T16:44:15.133359
comments: []
exception:

### Remove some ACRO outputs before finalising

In [24]:
acro.remove_output("output_1")
acro.remove_output("output_4")

INFO:acro:records:remove(): output_1 removed
INFO:acro:records:remove(): output_4 removed

### Rename ACRO outputs before finalising

In [25]:
acro.rename_output("output_2", "pivot_table")

INFO:acro:records:rename_output(): output_2 renamed to pivot_table

### Add a comment to output

In [26]:
acro.add_comments("output_0", "This is a cross table between year and grant_type")
acro.add_comments("output_0", "6 cells were suppressed in this table")

INFO:acro:records:a comment was added to output_0
INFO:acro:records:a comment was added to output_0

### Add an unsupported output to the list of outputs

In [27]:
acro.custom_output(
    "XandY.jpeg", "This output is an image showing the relationship between X and Y"
)

INFO:acro:records:add_custom(): output_13

### Request an exception for some of the outputs

In [28]:
acro.add_exception("output_0", "I really need this.")
acro.add_exception("output_3", "This one is safe. Trust me, I'm a professor.")
acro.add_exception("output_5", "It's not disclosive, I promise.")
acro.add_exception("output_6", "I need this one too")

INFO:acro:records:exception request was added to output_0
INFO:acro:records:exception request was added to output_3
INFO:acro:records:exception request was added to output_5
INFO:acro:records:exception request was added to output_6

### Finalise ACRO

In [29]:
SAVE_PATH = "ACRO_RES"

# output = acro.finalise(SAVE_PATH, "xlsx")
output = acro.finalise(SAVE_PATH, "json")

INFO:acro:records:
uid: output_7
status: review
type: table
properties: {'method': 'pivot_table'}
sdc: {'summary': {'suppressed': False, 'negative': 0, 'missing': 8, 'threshold': 0, 'p-ratio': 0, 'nk-rule': 0}, 'cells': {'negative': [], 'missing': [[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1]], 'threshold': [], 'p-ratio': [], 'nk-rule': []}}
command: table = acro.pivot_table(
summary: review; missing values found
outcome:                  mean        std
           inc_grants inc_grants
grant_type
G             missing    missing
N             missing    missing
R             missing    missing
R/G           missing    missing
output: [                    mean           std
              inc_grants    inc_grants
grant_type
G           1.141279e+07  2.283220e+07
N           1.364700e+05  1.999335e+05
R           8.006360e+06  3.228216e+07
R/G         1.664827e+07  1.583532e+07]
timestamp: 2023-09-26T16:44:14.514747
comments: []
exception:

The status of the record above is: review.
Please explain why an exception should be granted.

INFO:acro:records:
uid: output_8
status: review
type: table
properties: {'method': 'pivot_table'}
sdc: {'summary': {'suppressed': False, 'negative': 4, 'missing': 8, 'threshold': 0, 'p-ratio': 0, 'nk-rule': 0}, 'cells': {'negative': [[1, 0], [1, 1], [2, 0], [2, 1]], 'missing': [[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1], [3, 0], [3, 1]], 'threshold': [], 'p-ratio': [], 'nk-rule': []}}
command: table = acro.pivot_table(
summary: review; negative values found
outcome:                  mean        std
           inc_grants inc_grants
grant_type
G
N            negative   negative
R            negative   negative
R/G
output: [                    mean           std
              inc_grants    inc_grants
grant_type
G           1.141279e+07  2.283220e+07
N           1.341800e+05  1.990196e+05
R           7.882231e+06  3.204558e+07
R/G         1.664827e+07  1.583532e+07]
timestamp: 2023-09-26T16:44:14.676251
comments: []
exception:

The status of the record above is: review.
Please explain why an exception should be granted.

INFO:acro:records:
uid: pivot_table
status: fail
type: table
properties: {'method': 'crosstab'}
sdc: {'summary': {'suppressed': True, 'negative': 0, 'missing': 0, 'threshold': 14, 'p-ratio': 8, 'nk-rule': 7}, 'cells': {'negative': [], 'missing': [], 'threshold': [[0, 0], [0, 2], [0, 5], [1, 0], [1, 5], [2, 0], [2, 5], [3, 0], [3, 5], [4, 0], [4, 5], [5, 0], [5, 1], [5, 5]], 'p-ratio': [[0, 0], [0, 2], [0, 5], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0]], 'nk-rule': [[0, 0], [0, 5], [1, 0], [2, 0], [3, 0], [4, 0], [5, 0]]}}
command: table = acro.crosstab(
summary: fail; threshold: 14 cells suppressed; p-ratio: 8 cells suppressed; nk-rule: 7 cells suppressed;
outcome: grant_type                              G                                   N  \
survivor                     Dead in 2015 Alive in 2015         Alive in 2015
year
2010        threshold; p-ratio; nk-rule;             ok  threshold; p-ratio;
2011        threshold; p-ratio; nk-rule;             ok                    ok
2012        threshold; p-ratio; nk-rule;             ok                    ok
2013        threshold; p-ratio; nk-rule;             ok                    ok
2014        threshold; p-ratio; nk-rule;             ok                    ok
2015        threshold; p-ratio; nk-rule;    threshold;                     ok
All                                    ok            ok                    ok

grant_type            R                                          R/G All
survivor   Dead in 2015 Alive in 2015                  Alive in 2015
year
2010                 ok            ok  threshold; p-ratio; nk-rule;   ok
2011                 ok            ok                    threshold;   ok
2012                 ok            ok                    threshold;   ok
2013                 ok            ok                    threshold;   ok
2014                 ok            ok                    threshold;   ok
2015                 ok            ok                    threshold;   ok
All                  ok            ok                             ok  ok
output: [grant_type             G              N            R                      All
survivor   Alive in 2015  Alive in 2015 Dead in 2015 Alive in 2015
year
2010          11571583.0            NaN  1385162.500    22436528.0  8930501.0
2011          10624083.0  124013.859375  1380839.250    19596956.0  4799615.5
2012          14319667.0  131859.062500  1354274.750    17465130.0  4712294.0
2013          16943250.0  147937.796875  1409097.250    18547244.0  5094428.0
2014          17182166.0  133198.250000  1370867.125    20651954.0  5569847.0
2015                 NaN  146572.187500  1779520.625    21810030.0  5137233.5
All           14128150.0  136725.953125  1425355.125    20004548.0  5434959.5]
timestamp: 2023-09-26T16:43:37.469934
comments: []
exception:

The status of the record above is: fail.
Please explain why an exception should be granted.

INFO:acro:records:
uid: output_13
status: review
type: custom
properties: {}
sdc: {}
command: custom
summary: review
outcome: Empty DataFrame
Columns: []
Index: []
output: ['XandY.jpeg']
timestamp: 2023-09-26T16:44:15.336345
comments: ['This output is an image showing the relationship between X and Y']
exception:

The status of the record above is: review.
Please explain why an exception should be granted.

INFO:acro:records:outputs written to: ACRO_RES

### List files generated

In [30]:
files = []
for name in os.listdir(SAVE_PATH):
    if os.path.isfile(os.path.join(SAVE_PATH, name)):
        files.append(name)
files.sort()
for f in files:
    print(f)

XandY.jpeg
config.json
output_0_0.csv
output_10_0.csv
output_10_1.csv
output_10_2.csv
output_11_0.csv
output_11_1.csv
output_12_0.csv
output_12_1.csv
output_3_0.csv
output_5_0.csv
output_6_0.csv
output_7_0.csv
output_8_0.csv
output_9_0.csv
output_9_1.csv
output_9_2.csv
pivot_table_0.csv
results.json

### Checksums

In [31]:
files = []
checksum_dir = os.path.join(SAVE_PATH, "checksums")
for name in os.listdir(checksum_dir):
    if os.path.isfile(os.path.join(checksum_dir, name)):
        files.append(name)
files.sort()
for f in files:
    print(f)

XandY.jpeg.txt
output_0_0.csv.txt
output_10_0.csv.txt
output_10_1.csv.txt
output_10_2.csv.txt
output_11_0.csv.txt
output_11_1.csv.txt
output_12_0.csv.txt
output_12_1.csv.txt
output_3_0.csv.txt
output_5_0.csv.txt
output_6_0.csv.txt
output_7_0.csv.txt
output_8_0.csv.txt
output_9_0.csv.txt
output_9_1.csv.txt
output_9_2.csv.txt
pivot_table_0.csv.txt
results.json.txt

### Inspect metadata

In [32]:
results_json = os.path.normpath(f"{SAVE_PATH}/results.json")
with open(results_json, "r") as f:
    print(f.read())

{
    "version": "0.4.3",
    "results": {
        "output_0": {
            "uid": "output_0",
            "status": "fail",
            "type": "table",
            "properties": {
                "method": "crosstab"
            },
            "files": [
                {
                    "name": "output_0_0.csv",
                    "sdc": {
                        "summary": {
                            "suppressed": false,
                            "negative": 0,
                            "missing": 0,
                            "threshold": 6,
                            "p-ratio": 0,
                            "nk-rule": 0
                        },
                        "cells": {
                            "negative": [],
                            "missing": [],
                            "threshold": [
                                [
                                    0,
                                    3
                                ],
                                [
                                    1,
                                    3
                                ],
                                [
                                    2,
                                    3
                                ],
                                [
                                    3,
                                    3
                                ],
                                [
                                    4,
                                    3
                                ],
                                [
                                    5,
                                    3
                                ]
                            ],
                            "p-ratio": [],
                            "nk-rule": []
                        }
                    }
                }
            ],
            "outcome": {
                "G": {
                    "2010": "ok",
                    "2011": "ok",
                    "2012": "ok",
                    "2013": "ok",
                    "2014": "ok",
                    "2015": "ok"
                },
                "N": {
                    "2010": "ok",
                    "2011": "ok",
                    "2012": "ok",
                    "2013": "ok",
                    "2014": "ok",
                    "2015": "ok"
                },
                "R": {
                    "2010": "ok",
                    "2011": "ok",
                    "2012": "ok",
                    "2013": "ok",
                    "2014": "ok",
                    "2015": "ok"
                },
                "R/G": {
                    "2010": "threshold; ",
                    "2011": "threshold; ",
                    "2012": "threshold; ",
                    "2013": "threshold; ",
                    "2014": "threshold; ",
                    "2015": "threshold; "
                }
            },
            "command": "safe_table = acro.crosstab(df.year, df.grant_type)",
            "summary": "fail; threshold: 6 cells may need suppressing; ",
            "timestamp": "2023-09-26T16:43:37.007348",
            "comments": [
                "This is a cross table between year and grant_type",
                "6 cells were suppressed in this table"
            ],
            "exception": "I really need this."
        },
        "output_3": {
            "uid": "output_3",
            "status": "fail",
            "type": "table",
            "properties": {
                "method": "crosstab"
            },
            "files": [
                {
                    "name": "output_3_0.csv",
                    "sdc": {
                        "summary": {
                            "suppressed": false,
                            "negative": 0,
                            "missing": 0,
                            "threshold": 7,
                            "p-ratio": 2,
                            "nk-rule": 1
                        },
                        "cells": {
                            "negative": [],
                            "missing": [],
                            "threshold": [
                                [
                                    0,
                                    1
                                ],
                                [
                                    0,
                                    3
                                ],
                                [
                                    1,
                                    3
                                ],
                                [
                                    2,
                                    3
                                ],
                                [
                                    3,
                                    3
                                ],
                                [
                                    4,
                                    3
                                ],
                                [
                                    5,
                                    3
                                ]
                            ],
                            "p-ratio": [
                                [
                                    0,
                                    1
                                ],
                                [
                                    0,
                                    3
                                ]
                            ],
                            "nk-rule": [
                                [
                                    0,
                                    3
                                ]
                            ]
                        }
                    }
                }
            ],
            "outcome": {
                "G": {
                    "2010": "ok",
                    "2011": "ok",
                    "2012": "ok",
                    "2013": "ok",
                    "2014": "ok",
                    "2015": "ok"
                },
                "N": {
                    "2010": "threshold; p-ratio; ",
                    "2011": "ok",
                    "2012": "ok",
                    "2013": "ok",
                    "2014": "ok",
                    "2015": "ok"
                },
                "R": {
                    "2010": "ok",
                    "2011": "ok",
                    "2012": "ok",
                    "2013": "ok",
                    "2014": "ok",
                    "2015": "ok"
                },
                "R/G": {
                    "2010": "threshold; p-ratio; nk-rule; ",
                    "2011": "threshold; ",
                    "2012": "threshold; ",
                    "2013": "threshold; ",
                    "2014": "threshold; ",
                    "2015": "threshold; "
                }
            },
            "command": "safe_table = acro.crosstab(df.year, df.grant_type, values=df.inc_grants, aggfunc=\"mean\")",
            "summary": "fail; threshold: 7 cells may need suppressing; p-ratio: 2 cells may need suppressing; nk-rule: 1 cells may need suppressing; ",
            "timestamp": "2023-09-26T16:43:37.654102",
            "comments": [],
            "exception": "This one is safe. Trust me, I'm a professor."
        },
        "output_5": {
            "uid": "output_5",
            "status": "review",
            "type": "table",
            "properties": {
                "method": "crosstab"
            },
            "files": [
                {
                    "name": "output_5_0.csv",
                    "sdc": {
                        "summary": {
                            "suppressed": false,
                            "negative": 10,
                            "missing": 11,
                            "threshold": 7,
                            "p-ratio": 2,
                            "nk-rule": 1
                        },
                        "cells": {
                            "negative": [
                                [
                                    0,
                                    2
                                ],
                                [
                                    1,
                                    1
                                ],
                                [
                                    1,
                                    2
                                ],
                                [
                                    2,
                                    2
                                ],
                                [
                                    3,
                                    1
                                ],
                                [
                                    3,
                                    2
                                ],
                                [
                                    4,
                                    1
                                ],
                                [
                                    4,
                                    2
                                ],
                                [
                                    5,
                                    1
                                ],
                                [
                                    5,
                                    2
                                ]
                            ],
                            "missing": [
                                [
                                    0,
                                    0
                                ],
                                [
                                    0,
                                    1
                                ],
                                [
                                    0,
                                    2
                                ],
                                [
                                    0,
                                    3
                                ],
                                [
                                    1,
                                    1
                                ],
                                [
                                    1,
                                    2
                                ],
                                [
                                    2,
                                    2
                                ],
                                [
                                    4,
                                    2
                                ],
                                [
                                    5,
                                    0
                                ],
                                [
                                    5,
                                    1
                                ],
                                [
                                    5,
                                    2
                                ]
                            ],
                            "threshold": [
                                [
                                    0,
                                    1
                                ],
                                [
                                    0,
                                    3
                                ],
                                [
                                    1,
                                    3
                                ],
                                [
                                    2,
                                    3
                                ],
                                [
                                    3,
                                    3
                                ],
                                [
                                    4,
                                    3
                                ],
                                [
                                    5,
                                    3
                                ]
                            ],
                            "p-ratio": [
                                [
                                    0,
                                    1
                                ],
                                [
                                    0,
                                    3
                                ]
                            ],
                            "nk-rule": [
                                [
                                    0,
                                    3
                                ]
                            ]
                        }
                    }
                }
            ],
            "outcome": {
                "G": {
                    "2010": "",
                    "2011": "",
                    "2012": "",
                    "2013": "",
                    "2014": "",
                    "2015": ""
                },
                "N": {
                    "2010": "",
                    "2011": "negative",
                    "2012": "",
                    "2013": "negative",
                    "2014": "negative",
                    "2015": "negative"
                },
                "R": {
                    "2010": "negative",
                    "2011": "negative",
                    "2012": "negative",
                    "2013": "negative",
                    "2014": "negative",
                    "2015": "negative"
                },
                "R/G": {
                    "2010": "",
                    "2011": "",
                    "2012": "",
                    "2013": "",
                    "2014": "",
                    "2015": ""
                }
            },
            "command": "safe_table = acro.crosstab(df.year, df.grant_type, values=negative, aggfunc=\"mean\")",
            "summary": "review; negative values found",
            "timestamp": "2023-09-26T16:44:14.222443",
            "comments": [],
            "exception": "It's not disclosive, I promise."
        },
        "output_6": {
            "uid": "output_6",
            "status": "review",
            "type": "table",
            "properties": {
                "method": "pivot_table"
            },
            "files": [
                {
                    "name": "output_6_0.csv",
                    "sdc": {
                        "summary": {
                            "suppressed": false,
                            "negative": 0,
                            "missing": 8,
                            "threshold": 0,
                            "p-ratio": 0,
                            "nk-rule": 0
                        },
                        "cells": {
                            "negative": [],
                            "missing": [
                                [
                                    0,
                                    0
                                ],
                                [
                                    0,
                                    1
                                ],
                                [
                                    1,
                                    0
                                ],
                                [
                                    1,
                                    1
                                ],
                                [
                                    2,
                                    0
                                ],
                                [
                                    2,
                                    1
                                ],
                                [
                                    3,
                                    0
                                ],
                                [
                                    3,
                                    1
                                ]
                            ],
                            "threshold": [],
                            "p-ratio": [],
                            "nk-rule": []
                        }
                    }
                }
            ],
            "outcome": {
                "('mean', 'inc_grants')": {
                    "G": "missing",
                    "N": "missing",
                    "R": "missing",
                    "R/G": "missing"
                },
                "('std', 'inc_grants')": {
                    "G": "missing",
                    "N": "missing",
                    "R": "missing",
                    "R/G": "missing"
                }
            },
            "command": "table = acro.pivot_table(",
            "summary": "review; missing values found",
            "timestamp": "2023-09-26T16:44:14.374409",
            "comments": [],
            "exception": "I need this one too"
        },
        "output_7": {
            "uid": "output_7",
            "status": "review",
            "type": "table",
            "properties": {
                "method": "pivot_table"
            },
            "files": [
                {
                    "name": "output_7_0.csv",
                    "sdc": {
                        "summary": {
                            "suppressed": false,
                            "negative": 0,
                            "missing": 8,
                            "threshold": 0,
                            "p-ratio": 0,
                            "nk-rule": 0
                        },
                        "cells": {
                            "negative": [],
                            "missing": [
                                [
                                    0,
                                    0
                                ],
                                [
                                    0,
                                    1
                                ],
                                [
                                    1,
                                    0
                                ],
                                [
                                    1,
                                    1
                                ],
                                [
                                    2,
                                    0
                                ],
                                [
                                    2,
                                    1
                                ],
                                [
                                    3,
                                    0
                                ],
                                [
                                    3,
                                    1
                                ]
                            ],
                            "threshold": [],
                            "p-ratio": [],
                            "nk-rule": []
                        }
                    }
                }
            ],
            "outcome": {
                "('mean', 'inc_grants')": {
                    "G": "missing",
                    "N": "missing",
                    "R": "missing",
                    "R/G": "missing"
                },
                "('std', 'inc_grants')": {
                    "G": "missing",
                    "N": "missing",
                    "R": "missing",
                    "R/G": "missing"
                }
            },